<tr>
<td>1</td><td>You Failed</td>
<td>Done</td>
<td>7</td>
<td>0</td>
<td>21.573</td>
<td>2</td>
</tr>
<tr>
<td>2</td><td>The Best Guild In The Game</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.43</td>
<td>6262</td>
</tr>
<tr>
<td>3</td><td>Epic Failing Europeans</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.369</td>
<td>27</td>
</tr>
<tr>
<td>4</td><td>Mistral Edge</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.348</td>
<td>34</td>
</tr>
<tr>
<td>5</td><td>Professional Athletes</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.543</td>
<td>7</td>
</tr>
<tr>
<td>6</td><td>Supernova Jpn</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.522</td>
<td>28</td>
</tr>
<tr>
<td>7</td><td>We Want Cookies</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.461</td>
<td>26</td>
</tr>
<tr>
<td>8</td><td>Whats Going On</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.451</td>
<td>1</td>
</tr>
<tr>
<td>9</td><td>Rebel Rising</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.421</td>
<td>4</td>
</tr>
<tr>
<td>10</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.401</td>
<td>11</td>
</tr>
<tr>
<td>11</td><td>Revive Teammates</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.4</td>
<td>113</td>
</tr>
<tr>
<td>12</td><td>Yltsohg Seoreh</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.375</td>
<td>53</td>
</tr>
<tr>
<td>13</td><td>Terror Of The Justice Salmon</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.369</td>
<td>46</td>
</tr>
<tr>
<td>14</td><td>Stealing Society</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.309</td>
<td>6</td>
</tr>
<tr>
<td>15</td><td>Amazing Strength</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.304</td>
<td>19</td>
</tr>
<tr>
<td>16</td><td>Chaos Equilibrium</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.467</td>
<td>119</td>
</tr>
<tr>
<td>17</td><td>Thugz Mansion</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.431</td>
<td>352</td>
</tr>
<tr>
<td>18</td><td>Dark Alley</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.43</td>
<td>5</td>
</tr>
<tr>
<td>19</td><td>Shameful Idiots</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.43</td>
<td>54</td>
</tr>
<tr>
<td>20</td><td>Dont Mess With The Don</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.36</td>
<td>40</td>
</tr>
<tr>
<td>21</td><td>Team Rage</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.36</td>
<td>160</td>
</tr>
<tr>
<td>22</td><td>Improve Your Skillz</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.355</td>
<td>284</td>
</tr>
<tr>
<td>23</td><td>No Gutz No Glory</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.318</td>
<td>105</td>
</tr>
<tr>
<td>24</td><td>The Last Attempt</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.309</td>
<td>56</td>
</tr>
<tr>
<td>25</td><td>Fette Wamos Braucht Das</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.309</td>
<td>96</td>
</tr>
<tr>
<td>26</td><td>Nice J O K E</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.309</td>
<td>264</td>
</tr>
<tr>
<td>27</td><td>The Tragic Magic</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.227</td>
<td>58</td>
</tr>
<tr>
<td>28</td><td>Hawk Smash</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.217</td>
<td>50</td>
</tr>
<tr>
<td>29</td><td>Lethal Dosis</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.206</td>
<td>142</td>
</tr>
<tr>
<td>30</td><td>Team Chaos Theory</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.206</td>
<td>162</td>
</tr>
<tr>
<td>31</td><td>One Day Wonder</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.196</td>
<td>5806</td>
</tr>
<tr>
<td>32</td><td>Can You Hear Me</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.146</td>
<td>313</td>
</tr>
<tr>
<td>33</td><td>Not Another Reform</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.339</td>
<td>23</td>
</tr>
<tr>
<td>34</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.324</td>
<td>39</td>
</tr>
<tr>
<td>35</td><td>Flowers Of Happiness</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.288</td>
<td>89</td>
</tr>
<tr>
<td>36</td><td>Big Bomb</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.279</td>
<td>183</td>
</tr>
<tr>
<td>37</td><td>Disciple Of Wesh</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.264</td>
<td>87</td>
</tr>
<tr>
<td>38</td><td>Be Team</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.258</td>
<td>38</td>
</tr>
<tr>
<td>39</td><td>Universal Enclosure</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.258</td>
<td>64</td>
</tr>
<tr>
<td>40</td><td>I Falchi Bianchi</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.227</td>
<td>347</td>
</tr>
<tr>
<td>41</td><td>Legend Will Never Die</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.227</td>
<td>432</td>
</tr>
<tr>
<td>42</td><td>Xe Loca Inforum</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.206</td>
<td>349</td>
</tr>
<tr>
<td>43</td><td>F I R S T</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.185</td>
<td>320</td>
</tr>
<tr>
<td>44</td><td>La Legion Des Super Heros</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.175</td>
<td>357</td>
</tr>
<tr>
<td>45</td><td>Unreal Thoughts</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.166</td>
<td>109</td>
</tr>
<tr>
<td>46</td><td>Banda Ptysia</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.154</td>
<td>121</td>
</tr>
<tr>
<td>47</td><td>Heart Of Ashes And Dust</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.145</td>
<td>37</td>
</tr>
<tr>
<td>48</td><td>Im Not A Kitty</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.145</td>
<td>154</td>
</tr>
<tr>
<td>49</td><td>Witness Of Destiny</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.134</td>
<td>175</td>
</tr>
<tr>
<td>50</td><td>Red Basilica</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.309</td>
<td>277</td>
</tr>
<tr>
<td>51</td><td>Forgotten Myth</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.309</td>
<td>359</td>
</tr>
<tr>
<td>52</td><td>I Victory Or Death I</td>
<td>Forfeit</td>
<td>2</td>
<td>3</td>
<td>6.287</td>
<td>152</td>
</tr>
<tr>
<td>53</td><td>Our Ghostly Is A Roxxor</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.237</td>
<td>657</td>
</tr>
<tr>
<td>54</td><td>Les Fils De Babylone</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.167</td>
<td>199</td>
</tr>
<tr>
<td>55</td><td>Han Stop Rage La</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.166</td>
<td>198</td>
</tr>
<tr>
<td>56</td><td>Arirang Of Corea</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>6.156</td>
<td>3947</td>
</tr>
<tr>
<td>57</td><td>Die Glatzenbande</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>6.109</td>
<td>5311</td>
</tr>
<tr>
<td>58</td><td>Fluffy Little Kitties</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.093</td>
<td>151</td>
</tr>
<tr>
<td>59</td><td>The Goon Squad</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.043</td>
<td>6202</td>
</tr>
<tr>
<td>60</td><td>The Jagerbombs</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3.216</td>
<td>140</td>
</tr>
<tr>
<td>61</td><td>Pff We Are In</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3.145</td>
<td>158</td>
</tr>
<tr>
<td>62</td><td>Best Before</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3.134</td>
<td>9</td>
</tr>
<tr>
<td>63</td><td>Its Traitorism If I Let You Die</td>
<td>Done</td>
<td>0</td>
<td>6</td>
<td>3.11</td>
<td>2965</td>
</tr>
<tr>
<td>64</td><td>Even Captain Of Titanic Said</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>62</td>
</tr>
<tr>
<td>65</td><td>Lempereur Du Pitre</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0.127</td>
<td>63</td>
</tr>
<tr>
<td>66</td><td>So Easy A Caveman Can Do It</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>532</td>
</tr>
