---
openapi: 3.1.0
info:
  title: GWRank Teambuilds API
  version: 1.0.0
  description: The GWRank teambuild library API for Z-Codex. The payload is a .zcx
    document as normatively defined by docs/zcx_format.md (Z-Codex 1.2.0, version
    18). Keys are strictly camelCase. Skill ids unknown to the catalog are preserved
    as-is (never normalized to zero).
servers:
- url: https://gwrank.com
security:
- bearerAuth: []
paths:
  "/api/v1/teambuilds":
    get:
      summary: Search teambuilds
      description: 'Paginated list of summaries of everything the caller can see:
        publics + their own, including others'' public drafts.'
      parameters:
      - name: q
        in: query
        schema:
          type: string
        description: Name, case-insensitive
      - name: tags[]
        in: query
        schema:
          type: array
          items:
            type: string
        description: Array overlap
      - name: profession_id
        in: query
        schema:
          type: integer
        description: Official GW1 profession code (0-10)
      - name: elite_skill_id
        in: query
        schema:
          type: integer
        description: Official GW1 skill id
      - name: campaign
        in: query
        schema:
          type: string
      - name: game_mode
        in: query
        schema:
          type: string
          enum:
          - All
          - PvE
          - PvP
          - ''
      - name: player_count_min
        in: query
        schema:
          type: integer
          minimum: 1
      - name: player_count_max
        in: query
        schema:
          type: integer
          maximum: 12
      - name: visibility
        in: query
        schema:
          type: string
          enum:
          - mine
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - published
      - name: sort
        in: query
        schema:
          type: string
          enum:
          - updated_at
          - name
          - player_count
      - name: page
        in: query
        schema:
          type: integer
          minimum: 1
      - name: per_page
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 100
      - name: updated_since
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: ISO 8601 instant; only builds updated at or after it are returned
      responses:
        '200':
          description: Paginated list of summaries
          content:
            application/json:
              schema:
                type: object
                properties:
                  teambuilds:
                    type: array
                    items:
                      "$ref": "#/components/schemas/TeambuildSummary"
                  pagination:
                    "$ref": "#/components/schemas/Pagination"
        '401':
          description: Missing or invalid token
        '400':
          description: Malformed updated_since
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorList"
  "/api/v1/teambuilds/export":
    get:
      summary: Export all visible teambuilds in one call
      description: 'Enriched summaries carrying the complete .zcx document for everything
        the caller can see: publics + their own, including public drafts (filterable
        via status). Single response, no pagination.'
      parameters:
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - published
      - name: updated_since
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: ISO 8601 instant; only builds updated at or after it are returned
      responses:
        '200':
          description: Every visible teambuild
          content:
            application/json:
              schema:
                type: object
                properties:
                  teambuilds:
                    type: array
                    items:
                      "$ref": "#/components/schemas/TeambuildExport"
        '401':
          description: Missing or invalid token
        '400':
          description: Malformed updated_since
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorList"
  "/api/v1/teambuilds/{id}":
    get:
      summary: Fetch one full teambuild
      description: Returns the stored .zcx document, intact, merged with a root-level
        author key (owner account name). Accepts the server id or the source_uuid
        (the .zcx id). Key order may differ from the original; semantic content is
        identical. Responds with a strong ETag header equal to the quoted documentHash.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Server id or lowercase canonical source_uuid
      responses:
        '200':
          description: Complete .zcx document
          content:
            application/json:
              examples:
                gvgSplit:
                  value:
                    "$ref": "#/components/examples/GvgSplit"
              schema:
                allOf:
                - "$ref": "#/components/schemas/ZcxDocument"
                - type: object
                  properties:
                    author:
                      type: string
                      description: Owner account name (@username without the @)
          headers:
            ETag:
              description: 'Strong entity tag: quoted SHA-256 document hash. Use it
                as If-Match on PUT.'
              schema:
                type: string
        '404':
          description: Not found
        '403':
          description: Someone else's private build, or unauthorized write
        '401':
          description: Missing or invalid token
    put:
      summary: Create or replace a teambuild (file-by-file sync)
      description: 'Body is the raw .zcx document. Idempotent upsert keyed by (owner,
        source_uuid): create when absent; no-op when the content hash (updatedAt excluded)
        is unchanged; full replace otherwise. Only the lowercase canonical source_uuid
        is accepted in the path — server numeric ids are rejected here (they cannot
        identify a not-yet-created build). visibility and status ride as query params,
        defaults private/published. Optional optimistic locking: send the previously-read
        documentHash as a quoted If-Match header (or * to require existence); on mismatch
        the write is refused with 412 and nothing changes. Nesting limit enforced
        by max_depth: a root character sits at depth 0 and any node deeper than 64
        levels is rejected.'
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: Lowercase canonical source_uuid only
      - name: If-Match
        in: header
        required: false
        schema:
          type: string
        description: 'Optional optimistic lock: quoted documentHash from a previous
          read, or * to require existence'
      - name: visibility
        in: query
        schema:
          type: string
          enum:
          - private
          - public
          default: private
      - name: status
        in: query
        schema:
          type: string
          enum:
          - draft
          - published
          default: published
        description: Status kept as-is when omitted
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpsertResult"
        '200':
          description: Replaced or unchanged (see created/changed)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UpsertResult"
        '412':
          description: Precondition failed (stale If-Match)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorList"
        '400':
          description: Malformed JSON or invalid identifier
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorList"
        '422':
          description: Format rule violation (see docs/zcx_format.md §11)
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorList"
        '401':
          description: Missing or invalid token
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ZcxDocument"
            examples:
              gvgSplit:
                summary: Single-character teambuild with variant/lock/spike (format
                  §12)
                value:
                  "$ref": "#/components/examples/GvgSplit"
        required: true
        description: Raw .zcx document
    delete:
      summary: Delete one of your own teambuilds
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Server id or lowercase canonical source_uuid
      responses:
        '204':
          description: Deleted
        '403':
          description: Someone else's private build, or unauthorized write
        '404':
          description: Not found
        '401':
          description: Missing or invalid token
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: players.api_token
  responses:
    Unauthorized:
      description: Missing or invalid token
    Forbidden:
      description: Someone else's private build, or unauthorized write
    BadRequest:
      description: Malformed JSON or invalid identifier
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorList"
    Invalid:
      description: Format rule violation (see docs/zcx_format.md §11)
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/ErrorList"
  schemas:
    Pagination:
      type: object
      properties:
        page:
          type: integer
        perPage:
          type: integer
        totalCount:
          type: integer
    ErrorList:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              path:
                type: string
                examples:
                - "$.characters[0].skillIds"
              code:
                type: string
                enum:
                - malformed_json
                - invalid_source_uuid
                - invalid_updated_since
                - not_an_object
                - wrong_case
                - null_array
                - duplicate_attribute_id
                - invalid_skill_ids
                - too_many_characters
                - max_depth
                - invalid_tag
                - reserved_key
                - precondition_failed
              message:
                type: string
    TeambuildCharacterSummary:
      type: object
      properties:
        name:
          type: string
        primaryProfession:
          type:
          - integer
          - 'null'
          description: GW1 id 0-10
        secondaryProfession:
          type:
          - integer
          - 'null'
        eliteSkillId:
          type:
          - integer
          - 'null'
          description: Official GW1 skill id
        assignment:
          type: string
        dominantAttribute:
          type:
          - string
          - 'null'
    TeambuildSummary:
      type: object
      properties:
        id:
          type: integer
        sourceId:
          type: string
          format: uuid
        name:
          type: string
        author:
          type: string
          description: Owner account name (@username without the @)
        tags:
          type: array
          items:
            type: string
        gameMode:
          type: string
        playerCount:
          type: integer
        visibility:
          type: string
          enum:
          - private
          - public
        status:
          type: string
          enum:
          - draft
          - published
        characters:
          type: array
          items:
            "$ref": "#/components/schemas/TeambuildCharacterSummary"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        documentHash:
          type: string
          description: Hex SHA-256 of the canonicalized stored document (updatedAt
            excluded). Send it quoted as If-Match on PUT.
    UpsertResult:
      allOf:
      - "$ref": "#/components/schemas/TeambuildSummary"
      - type: object
        properties:
          created:
            type: boolean
          changed:
            type: boolean
    TeambuildExport:
      allOf:
      - "$ref": "#/components/schemas/TeambuildSummary"
      - type: object
        properties:
          document:
            "$ref": "#/components/schemas/ZcxDocument"
    ZcxDocument:
      type: object
      additionalProperties: true
      description: The complete .zcx document — see docs/zcx_format.md as the normative
        reference. Known fields are typed below; any extra field is tolerated and
        preserved verbatim (future versions of the format).
      properties:
        version:
          type: integer
          description: Informative, never routed
        id:
          type: string
          format: uuid
        name:
          type: string
        tags:
          type: array
          maxItems: 24
          items:
            type: string
            maxLength: 64
          description: Free-form labels. The nine canonical values (GvG HA RA TA AB
            FA JQ PvP PvE, case-insensitive) are normalized and feed search filters;
            other labels are preserved verbatim.
        notes:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        characters:
          type: array
          maxItems: 12
          items:
            "$ref": "#/components/schemas/ZcxCharacter"
        locks:
          type: array
          items:
            type: object
            additionalProperties: true
        spike:
          type: array
          items:
            type: object
            additionalProperties: true
        flux:
          type: integer
          minimum: 0
          maximum: 12
        natureRituals:
          type: array
          items:
            type: integer
        roaringWindsRank:
          type: integer
          minimum: 0
          maximum: 20
        tranquilityRank:
          type: integer
          minimum: 0
          maximum: 20
        gameMode:
          type: string
          enum:
          - All
          - PvE
          - PvP
          - ''
        vampiricHits3:
          type: integer
          minimum: 0
          maximum: 25
        vampiricHits5:
          type: integer
          minimum: 0
          maximum: 25
    ZcxCharacter:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        primaryProfession:
          type: integer
          minimum: 0
          maximum: 10
        secondaryProfession:
          type: integer
          minimum: 0
          maximum: 10
        isFavorite:
          type: boolean
        assignment:
          type: string
        gender:
          type: integer
          enum:
          - 0
          - 1
        skillIds:
          type: array
          minItems: 8
          maxItems: 8
          items:
            type: integer
          description: Slots 0-7; 0 = empty. Official GW1 ids, unknown ones tolerated.
        attributes:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              points:
                type: integer
            required:
            - id
            - points
          description: ids unique within a single character (otherwise rejected with
            422)
        titleRanks:
          type: object
          additionalProperties:
            type: integer
        equipment:
          type:
          - object
          - 'null'
          additionalProperties: true
        notes:
          type: string
        durationBoostersEnabled:
          type: boolean
        activeAttributeBoosts:
          type: array
          items:
            type: integer
        variants:
          type: array
          items:
            "$ref": "#/components/schemas/ZcxCharacter"
  examples:
    GvgSplit:
      summary: Single-character teambuild with variant/lock/spike (format §12)
      value:
        version: 18
        id: 0f6a2f6c-9a1e-4b7d-9c3a-5f0e2b8c1d44
        name: GvG Split
        tags:
        - GvG
        notes: ''
        createdAt: '2026-08-21T09:30:00Z'
        updatedAt: '2026-08-21T17:05:12Z'
        characters:
        - id: 11111111-1111-1111-1111-111111111111
          name: Water Snare
          primaryProfession: 6
          secondaryProfession: 5
          isFavorite: true
          assignment: Midline
          gender: 1
          skillIds:
          - 1010
          - 1011
          - 0
          - 919
          - 2
          - 1064
          - 3
          - 1
          attributes:
          - id: 11
            points: 12
          - id: 12
            points: 10
          - id: 3
            points: 8
          titleRanks:
            Lightbringer rank: 8
          equipment:
            armor:
            - slot: 2
              itemId: 76
              dye: 10
              modifierIds:
              - 129
              - 205
            weaponSets:
            - items:
              - slot: 0
                itemId: 21
                dye: 0
                modifierIds:
                - 47
              - slot: 1
                itemId: 34
                dye: 0
                modifierIds: []
            activeSet: 0
          notes: Water elementalist & degeneration.
          durationBoostersEnabled: false
          activeAttributeBoosts: []
          variants: []
        locks:
        - index: 1
          color: "#FFD700"
          memberIds:
          - 11111111-1111-1111-1111-111111111111
        spike:
        - characterId: 11111111-1111-1111-1111-111111111111
          skills:
          - slot: 0
            weaponDamageType: lightning
            ticks: 1
            order: 1
            weaponKind:
            procs: 1
            conditional: true
            threshold: -1
            casterCurrentHp: 480
            casterMaxHp: 480
            weaponMod: sundering
            sunderingProc: true
            hornbow: false
          buffs:
          - judges-insight
          slots: []
          weaponDamageType:
        flux: 7
        natureRituals:
        - 1156
        roaringWindsRank: 12
        tranquilityRank: 12
        gameMode: PvP
        vampiricHits3: 1
        vampiricHits5: 1
