<tr>
<td>1</td>
<td>Anonymous    Amateurs</td>
<td>AA</td>
<td>0</td>
<td>1</td>
<td>57</td>
</tr>
<tr>
<td>2</td>
<td>Stealing    Society</td>
<td>StS</td>
<td>0</td>
<td>1</td>
<td>15</td>
</tr>
<tr>
<td>3</td>
<td>I    Disposable Heroes I</td>
<td>DirT</td>
<td>0</td>
<td>1</td>
<td>5</td>
</tr>
<tr>
<td>4</td>
<td>The    Battle Bakery</td>
<td>vPie</td>
<td>1</td>
<td>0</td>
<td>19</td>
</tr>
<tr>
<td>5</td>
<td>No    Cookies Left</td>
<td>NOW</td>
<td>1</td>
<td>0</td>
<td>26</td>
</tr>
<tr>
<td>6</td>
<td>Burza    Mozgow W Rowerowej Knadze</td>
<td>daun</td>
<td>1</td>
<td>0</td>
<td>121</td>
</tr>
<tr>
<td>7</td>
<td>The    Valium Knights</td>
<td>Vk</td>
<td>0</td>
<td>1</td>
<td>18</td>
</tr>
<tr>
<td>8</td>
<td>Die    Pfefferkuchen Armee</td>
<td>pony</td>
<td>0</td>
<td>1</td>
<td>90</td>
</tr>
<tr>
<td>9</td>
<td>The    Myrmidons Of Tyria</td>
<td>myrm</td>
<td>1</td>
<td>0</td>
<td>54</td>
</tr>
<tr>
<td>10</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>1</td>
<td>0</td>
<td>11</td>
</tr>
<tr>
<td>11</td>
<td>Disappointing    Update</td>
<td>sigh</td>
<td>0</td>
<td>1</td>
<td>39</td>
</tr>
<tr>
<td>12</td>
<td>Random    Euro Trash</td>
<td>qft</td>
<td>0</td>
<td>1</td>
<td>31</td>
</tr>
<tr>
<td>13</td>
<td>Little    Champions Season Finale</td>
<td>vR</td>
<td>0</td>
<td>1</td>
<td>43</td>
</tr>
<tr>
<td>14</td>
<td>Rebel    Rising Directors Cut</td>
<td>rawr</td>
<td>1</td>
<td>0</td>
<td>357</td>
</tr>
<tr>
<td>15</td>
<td>Inadequately    Equipped</td>
<td>GeAr</td>
<td>1</td>
<td>0</td>
<td>8</td>
</tr>
<tr>
<td>16</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>1</td>
<td>0</td>
<td>6</td>
</tr>
<tr>
<td>17</td>
<td>Obsidian    Sun</td>
<td>OdS</td>
<td>4</td>
<td>2</td>
<td>44</td>
</tr>
<tr>
<td>18</td>
<td>Capricieux    Rageux Et Sauvages</td>
<td>CrS</td>
<td>3</td>
<td>2</td>
<td>190</td>
</tr>
<tr>
<td>19</td>
<td>History    Repeats Itself</td>
<td>Cry</td>
<td>4</td>
<td>2</td>
<td>12</td>
</tr>
<tr>
<td>20</td>
<td>The    Deadly Pirates</td>
<td>RiP</td>
<td>3</td>
<td>3</td>
<td>98</td>
</tr>
<tr>
<td>21</td>
<td>Men    Of Substance</td>
<td>YMCA</td>
<td>3</td>
<td>3</td>
<td>22</td>
</tr>
<tr>
<td>22</td>
<td>Terror    Of The Justice Salmon</td>
<td>FisH</td>
<td>3</td>
<td>3</td>
<td>122</td>
</tr>
<tr>
<td>23</td>
<td>Frogs    For World Domination</td>
<td>RaGe</td>
<td>3</td>
<td>3</td>
<td>36</td>
</tr>
<tr>
<td>24</td>
<td>Hoser    Down</td>
<td>HD</td>
<td>3</td>
<td>3</td>
<td>17</td>
</tr>
<tr>
<td>25</td>
<td>Mens    Sana In Corpore Sano</td>
<td>mind</td>
<td>3</td>
<td>3</td>
<td>248</td>
</tr>
<tr>
<td>26</td>
<td>One    Hundred Kilograms Chicks</td>
<td>usa</td>
<td>3</td>
<td>3</td>
<td>27</td>
</tr>
<tr>
<td>27</td>
<td>Art    Of Motion</td>
<td>Art</td>
<td>3</td>
<td>3</td>
<td>112</td>
</tr>
<tr>
<td>28</td>
<td>Time    For Plan B</td>
<td>RUN</td>
<td>3</td>
<td>3</td>
<td>259</td>
</tr>
<tr>
<td>29</td>
<td>High    Ping Victims</td>
<td>FFS</td>
<td>3</td>
<td>3</td>
<td>25</td>
</tr>
<tr>
<td>30</td>
<td>Straight    Outta Babylon</td>
<td>Zion</td>
<td>3</td>
<td>3</td>
<td>32</td>
</tr>
<tr>
<td>31</td>
<td>Under    Pressure</td>
<td>uP</td>
<td>3</td>
<td>3</td>
<td>9</td>
</tr>
<tr>
<td>32</td>
<td>Terribad    Turtles</td>
<td>TaNK</td>
<td>3</td>
<td>3</td>
<td>718</td>
</tr>
<tr>
<td>33</td>
<td>My    Name Is Yang</td>
<td>Yang</td>
<td>3</td>
<td>3</td>
<td>262</td>
</tr>
<tr>
<td>34</td>
<td>Too    Tired To Play</td>
<td>yawn</td>
<td>3</td>
<td>3</td>
<td>307</td>
</tr>
<tr>
<td>35</td>
<td>Quality    Players</td>
<td>qP</td>
<td>3</td>
<td>3</td>
<td>502</td>
</tr>
<tr>
<td>36</td>
<td>No    Honor</td>
<td>nH</td>
<td>3</td>
<td>3</td>
<td>21</td>
</tr>
<tr>
<td>37</td>
<td>Sweet    Harmony In Tango</td>
<td>BULL</td>
<td>3</td>
<td>3</td>
<td>168</td>
</tr>
<tr>
<td>38</td>
<td>The    Martyr Act</td>
<td>mA</td>
<td>2</td>
<td>4</td>
<td>302</td>
</tr>
<tr>
<td>39</td>
<td>Legend    Will Never Die</td>
<td>TTF</td>
<td>2</td>
<td>4</td>
<td>332</td>
</tr>
<tr>
<td>40</td>
<td>Serious    Sin</td>
<td>SiN</td>
<td>2</td>
<td>4</td>
<td>211</td>
</tr>
<tr>
<td>41</td>
<td>Maenner    Ohne Wirkliches Leben</td>
<td>mOwl</td>
<td>2</td>
<td>4</td>
<td>294</td>
</tr>
<tr>
<td>42</td>
<td>Mo    Mo Mo Mo Monster</td>
<td>KiLL</td>
<td>2</td>
<td>4</td>
<td>319</td>
</tr>
<tr>
<td>43</td>
<td>Outback    Ash And The Koala</td>
<td>Kids</td>
<td>2</td>
<td>2</td>
<td>264</td>
</tr>
<tr>
<td>44</td>
<td>The    Seven Spears Of Shizugatake</td>
<td>SSS</td>
<td>2</td>
<td>4</td>
<td>53</td>
</tr>
<tr>
<td>45</td>
<td>Stealing    Shadowss</td>
<td>StSs</td>
<td>2</td>
<td>4</td>
<td>229</td>
</tr>
<tr>
<td>46</td>
<td>Vortex    Of Meatballs</td>
<td>Samo</td>
<td>2</td>
<td>4</td>
<td>278</td>
</tr>
<tr>
<td>47</td>
<td>Darkest    Forces</td>
<td>DOOM</td>
<td>2</td>
<td>4</td>
<td>287</td>
</tr>
<tr>
<td>48</td>
<td>United    Noob Busters</td>
<td>uNb</td>
<td>2</td>
<td>3</td>
<td>132</td>
</tr>
<tr>
<td>49</td>
<td>Simple    N Clean</td>
<td>sNc</td>
<td>1</td>
<td>4</td>
<td>576</td>
</tr>
<tr>
<td>50</td>
<td>Ixl    Quivering Blade Ixl</td>
<td>Daze</td>
<td>1</td>
<td>5</td>
<td>370</td>
</tr>
<tr>
<td>51</td>
<td>Strange    Players</td>
<td>sp</td>
<td>0</td>
<td>5</td>
<td>267</td>
</tr>
<tr>
<td>52</td>
<td>Here    Goes Nothing</td>
<td>Gogo</td>
<td>0</td>
<td>3</td>
<td>263</td>
</tr>
<tr>
<td>53</td>
<td>Supernova    Jpn</td>
<td>SpNv</td>
<td>1</td>
<td>2</td>
<td>109</td>
</tr>
<tr>
<td>54</td>
<td>The    Goon Squad</td>
<td>LLJK</td>
<td>1</td>
<td>5</td>
<td>2319</td>
</tr>
<tr>
<td>55</td>
<td>We    Pew Pew U</td>
<td>QQ</td>
<td>0</td>
<td>1</td>
<td>773</td>
</tr>
<tr>
<td>56</td>
<td>&#26376;&#33457;</td>
<td>&#26376;&#33457;</td>
<td>0</td>
<td>3</td>
<td>630</td>
</tr>
<tr>
<td>57</td>
<td>Unknown    Phenomenon</td>
<td>vK</td>
<td>0</td>
<td>2</td>
<td>62</td>
</tr>
<tr>
<td>58</td>
<td>Rotten    Metagame Cycle</td>
<td>rM</td>
<td>0</td>
<td>0</td>
<td>2410</td>
</tr>
