<tr>
<td>1</td><td>Whats Going On</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>284</td>
<td>21</td>
</tr>
<tr>
<td>2</td><td>The Cape Is A Lie</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>439</td>
<td>99</td>
</tr>
<tr>
<td>3</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>666</td>
<td>5</td>
</tr>
<tr>
<td>4</td><td>Stealing Society</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>293</td>
<td>4</td>
</tr>
<tr>
<td>5</td><td>Team Paradigm</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>500</td>
<td>29</td>
</tr>
<tr>
<td>6</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>313</td>
<td>1</td>
</tr>
<tr>
<td>7</td><td>World Of Charrcraft</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>251</td>
<td>17</td>
</tr>
<tr>
<td>8</td><td>Dont Mess With The Don</td>
<td>Forfeit</td>
<td>1</td>
<td>0</td>
<td>127</td>
<td>3</td>
</tr>
<tr>
<td>9</td><td>Esoteric Warriors</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>999</td>
<td>6</td>
</tr>
<tr>
<td>10</td><td>Real Teazer</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>999</td>
<td>56</td>
</tr>
<tr>
<td>11</td><td>Virtual Escape</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>626</td>
<td>10</td>
</tr>
<tr>
<td>12</td><td>We Want Cookies</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>502</td>
<td>14</td>
</tr>
<tr>
<td>13</td><td>Dangerous And Moving</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>254</td>
<td>15</td>
</tr>
<tr>
<td>14</td><td>Anonymous Amateurs</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>254</td>
<td>18</td>
</tr>
<tr>
<td>15</td><td>Fish Sphere</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>254</td>
<td>127</td>
</tr>
<tr>
<td>16</td><td>Come Honor</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>254</td>
<td>170</td>
</tr>
