<tr>
<td>1</td><td>Rebel Rising</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12.346</td>
<td>46</td>
</tr>
<tr>
<td>2</td><td>Dark Alley</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9.439</td>
<td>7</td>
</tr>
<tr>
<td>3</td><td>Whats Going On</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.418</td>
<td>1</td>
</tr>
<tr>
<td>4</td><td>Newbs On Tour</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.293</td>
<td>31</td>
</tr>
<tr>
<td>5</td><td>Steel Phoenix</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.5</td>
<td>17</td>
</tr>
<tr>
<td>6</td><td>Dont Mess With The Don</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.313</td>
<td>16</td>
</tr>
<tr>
<td>7</td><td>Esoteric Warriors</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>9</td>
</tr>
<tr>
<td>8</td><td>Supernova Jpn</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>47</td>
</tr>
<tr>
<td>9</td><td>Bear F O R C E One</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.999</td>
<td>57</td>
</tr>
<tr>
<td>10</td><td>Red Basilica</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.626</td>
<td>188</td>
</tr>
<tr>
<td>11</td><td>Stealing Society</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>2</td>
</tr>
<tr>
<td>12</td><td>Shaq In Wonderland Oh</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>22</td>
</tr>
<tr>
<td>13</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>10</td>
</tr>
<tr>
<td>14</td><td>Pastel Drawing</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>26</td>
</tr>
<tr>
<td>15</td><td>Void Of Silence</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>39</td>
</tr>
<tr>
<td>16</td><td>Terrybad Playaz</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>127</td>
</tr>
