<tr>
<td>1</td><td>Rebel Rising</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12.346</td>
<td>3</td>
</tr>
<tr>
<td>2</td><td>Stealing Society</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9.439</td>
<td>10</td>
</tr>
<tr>
<td>3</td><td>You Failed</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.418</td>
<td>8</td>
</tr>
<tr>
<td>4</td><td>Whats Going On</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.293</td>
<td>2</td>
</tr>
<tr>
<td>5</td><td>Dont Mess With The Don</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.5</td>
<td>16</td>
</tr>
<tr>
<td>6</td><td>Amazing Strength</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.313</td>
<td>28</td>
</tr>
<tr>
<td>7</td><td>No Gutz No Glory</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>25</td>
</tr>
<tr>
<td>8</td><td>Noob Gladiators</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>27</td>
</tr>
<tr>
<td>9</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.999</td>
<td>21</td>
</tr>
<tr>
<td>10</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.626</td>
<td>12</td>
</tr>
<tr>
<td>11</td><td>Be Team</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>6</td>
</tr>
<tr>
<td>12</td><td>Dangerous Pumpkins</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>19</td>
</tr>
<tr>
<td>13</td><td>Dark Alley</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>4</td>
</tr>
<tr>
<td>14</td><td>Steel Phoenix</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>22</td>
</tr>
<tr>
<td>15</td><td>Heart Of Ashes And Dust</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>66</td>
</tr>
<tr>
<td>16</td><td>The Best Guild In The Game</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>249</td>
</tr>
