<tr>
<td>1</td>
<td>Inadequately    Retired</td>
<td>GoLd</td>
<td>4</td>
<td>0</td>
<td>19</td>
</tr>
<tr>
<td>2</td>
<td>Russisches    Quellwasser Vod</td>
<td>ka</td>
<td>3</td>
<td>1</td>
<td>34</td>
</tr>
<tr>
<td>3</td>
<td>Illl    Ill Il I Il Ill</td>
<td>IIII</td>
<td>2</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>4</td>
<td>Finnish    Itters</td>
<td>Ns</td>
<td>2</td>
<td>1</td>
<td>43</td>
</tr>
<tr>
<td>5</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>1</td>
<td>1</td>
<td>5</td>
</tr>
<tr>
<td>6</td>
<td>Flight    Instructors</td>
<td>ace</td>
<td>1</td>
<td>1</td>
<td>29</td>
</tr>
<tr>
<td>7</td>
<td>The    Stonebenders Of Sanctum Cay</td>
<td>sC</td>
<td>1</td>
<td>1</td>
<td>6</td>
</tr>
<tr>
<td>8</td>
<td>Chipotle    Mexican Bar And Grill</td>
<td>Inc</td>
<td>1</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>9</td>
<td>Modern    Massage Technique</td>
<td>RoX</td>
<td>0</td>
<td>1</td>
<td>50</td>
</tr>
<tr>
<td>10</td>
<td>South    Central</td>
<td>cent</td>
<td>0</td>
<td>1</td>
<td>32</td>
</tr>
<tr>
<td>11</td>
<td>Vent    Rage</td>
<td>vR</td>
<td>0</td>
<td>1</td>
<td>7</td>
</tr>
<tr>
<td>12</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>0</td>
<td>1</td>
<td>10</td>
</tr>
<tr>
<td>13</td>
<td>Good    Tactics</td>
<td>Good</td>
<td>0</td>
<td>1</td>
<td>41</td>
</tr>
<tr>
<td>14</td>
<td>Leftover    Americans</td>
<td>bad</td>
<td>0</td>
<td>1</td>
<td>76</td>
</tr>
<tr>
<td>15</td>
<td>Herobattles    Ownz</td>
<td>LiES</td>
<td>0</td>
<td>1</td>
<td>207</td>
</tr>
<tr>
<td>16</td>
<td>Abusing    Broken</td>
<td>MeTa</td>
<td>0</td>
<td>1</td>
<td>280</td>
</tr>
