<tr>
<td>1</td><td>Rebel Rising</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12</td>
<td>1</td>
</tr>
<tr>
<td>2</td><td>She Left With Half My</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9</td>
<td>189</td>
</tr>
<tr>
<td>3</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>6</td>
</tr>
<tr>
<td>4</td><td>Dangerous Pumpkins</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>36</td>
</tr>
<tr>
<td>5</td><td>On Ne Plaisant Pas Avec Patrons</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>45</td>
</tr>
<tr>
<td>6</td><td>Steel Phoenix</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>16</td>
</tr>
<tr>
<td>7</td><td>Everlasting Inability</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>35</td>
</tr>
<tr>
<td>8</td><td>The Laxandor</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>76</td>
</tr>
<tr>
<td>9</td><td>One Build Wonder</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>278</td>
</tr>
<tr>
<td>10</td><td>Random Euro Trash</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>72</td>
</tr>
<tr>
<td>11</td><td>Wiping As Intended</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>20</td>
</tr>
<tr>
<td>12</td><td>Legion Of Libyans</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>102</td>
</tr>
<tr>
<td>13</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>17</td>
</tr>
<tr>
<td>14</td><td>J O U L U K I L T A</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>119</td>
</tr>
<tr>
<td>15</td><td>Charming Drama</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>128</td>
</tr>
<tr>
<td>16</td><td>Survival Rate</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>149</td>
</tr>
