<tr>
<td>1</td>
<td>I Disposable Heroes I</td>
<td>DirT</td>
<td>6</td>
<td>1</td>
<td>7</td>
</tr>
<tr>
<td>2</td>
<td>We Are The Hardmode</td>
<td>HM</td>
<td>5</td>
<td>1</td>
<td>88</td>
</tr>
<tr>
<td>3</td>
<td>Beyond The Gates Of Infinity</td>
<td>sKy</td>
<td>6</td>
<td>1</td>
<td>39</td>
</tr>
<tr>
<td>4</td>
<td>Be Team</td>
<td>be</td>
<td>6</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>5</td>
<td>History Repeats Itself</td>
<td>Cry</td>
<td>5</td>
<td>2</td>
<td>10</td>
</tr>
<tr>
<td>6</td>
<td>Anonymous Amateurs</td>
<td>AA</td>
<td>5</td>
<td>2</td>
<td>22</td>
</tr>
<tr>
<td>7</td>
<td>Vent Rage</td>
<td>vR</td>
<td>5</td>
<td>2</td>
<td>26</td>
</tr>
<tr>
<td>8</td>
<td>Stealing Society</td>
<td>StS</td>
<td>5</td>
<td>2</td>
<td>20</td>
</tr>
<tr>
<td>9</td>
<td>Team Chaos Theory</td>
<td>hent</td>
<td>5</td>
<td>2</td>
<td>17</td>
</tr>
<tr>
<td>10</td>
<td>Sehr Grosses</td>
<td>KeKs</td>
<td>5</td>
<td>2</td>
<td>30</td>
</tr>
<tr>
<td>11</td>
<td>Kewkies Superheroes</td>
<td>ikap</td>
<td>5</td>
<td>2</td>
<td>186</td>
</tr>
<tr>
<td>12</td>
<td>The Hero Academy</td>
<td>Dark</td>
<td>5</td>
<td>2</td>
<td>86</td>
</tr>
<tr>
<td>13</td>
<td>Still A</td>
<td>Team</td>
<td>5</td>
<td>2</td>
<td>43</td>
</tr>
<tr>
<td>14</td>
<td>Rebel Rising Extended Edition</td>
<td>rawr</td>
<td>5</td>
<td>2</td>
<td>18</td>
</tr>
<tr>
<td>15</td>
<td>Unknown Phenomenon</td>
<td>vK</td>
<td>5</td>
<td>1</td>
<td>66</td>
</tr>
<tr>
<td>16</td>
<td>None But Fools</td>
<td>nuts</td>
<td>4</td>
<td>3</td>
<td>57</td>
</tr>
<tr>
<td>17</td>
<td>The Seven Spears Of Shizugatake</td>
<td>SSS</td>
<td>4</td>
<td>3</td>
<td>31</td>
</tr>
<tr>
<td>18</td>
<td>Surprise Team Buttshizzle</td>
<td>ban</td>
<td>4</td>
<td>3</td>
<td>38</td>
</tr>
<tr>
<td>19</td>
<td>Baumbarts Rechte Ast</td>
<td>Holz</td>
<td>4</td>
<td>3</td>
<td>47</td>
</tr>
<tr>
<td>20</td>
<td>Guild Down</td>
<td>PZZZ</td>
<td>4</td>
<td>3</td>
<td>80</td>
</tr>
<tr>
<td>21</td>
<td>Dangerous Pumpkins</td>
<td>dP</td>
<td>4</td>
<td>3</td>
<td>13</td>
</tr>
<tr>
<td>22</td>
<td>Steel Phoenix</td>
<td>StP</td>
<td>4</td>
<td>3</td>
<td>15</td>
</tr>
<tr>
<td>23</td>
<td>Inadequately Equipped</td>
<td>GeAr</td>
<td>4</td>
<td>3</td>
<td>32</td>
</tr>
<tr>
<td>24</td>
<td>Edible Granite Pencil</td>
<td>yumy</td>
<td>4</td>
<td>3</td>
<td>8</td>
</tr>
<tr>
<td>25</td>
<td>Nerds On Parade</td>
<td>nOp</td>
<td>4</td>
<td>3</td>
<td>216</td>
</tr>
<tr>
<td>26</td>
<td>Silent Hunters</td>
<td>SH</td>
<td>4</td>
<td>3</td>
<td>67</td>
</tr>
<tr>
<td>27</td>
<td>One Hundred Kilograms Chicks</td>
<td>usa</td>
<td>4</td>
<td>3</td>
<td>189</td>
</tr>
<tr>
<td>28</td>
<td>Under Pressure</td>
<td>uP</td>
<td>4</td>
<td>3</td>
<td>25</td>
</tr>
<tr>
<td>29</td>
<td>Supernova Jpn</td>
<td>SpNv</td>
<td>4</td>
<td>3</td>
<td>92</td>
</tr>
<tr>
<td>30</td>
<td>Here Goes Nothing</td>
<td>Gogo</td>
<td>4</td>
<td>3</td>
<td>215</td>
</tr>
<tr>
<td>31</td>
<td>Super Kaon Action Team</td>
<td>Ban</td>
<td>4</td>
<td>3</td>
<td>222</td>
</tr>
<tr>
<td>32</td>
<td>Legend Will Never Die</td>
<td>TTF</td>
<td>3</td>
<td>4</td>
<td>283</td>
</tr>
<tr>
<td>33</td>
<td>Die Keller Kinder</td>
<td>KK</td>
<td>3</td>
<td>4</td>
<td>12</td>
</tr>
<tr>
<td>34</td>
<td>Top Ten Material</td>
<td>Lie</td>
<td>3</td>
<td>4</td>
<td>224</td>
</tr>
<tr>
<td>35</td>
<td>Husaria Pol</td>
<td>HSR</td>
<td>3</td>
<td>4</td>
<td>100</td>
</tr>
<tr>
<td>36</td>
<td>Ion Cannon Operators</td>
<td>GDI</td>
<td>3</td>
<td>4</td>
<td>841</td>
</tr>
<tr>
<td>37</td>
<td>Banna Reloaded</td>
<td>back</td>
<td>3</td>
<td>4</td>
<td>379</td>
</tr>
<tr>
<td>38</td>
<td>Dont Mess With The Don</td>
<td>mkay</td>
<td>3</td>
<td>4</td>
<td>333</td>
</tr>
<tr>
<td>39</td>
<td>Here Comes The Guetto Mode</td>
<td>Ruff</td>
<td>3</td>
<td>4</td>
<td>717</td>
</tr>
<tr>
<td>40</td>
<td>Strange Players</td>
<td>sp</td>
<td>3</td>
<td>4</td>
<td>225</td>
</tr>
<tr>
<td>41</td>
<td>We Love When You Cry</td>
<td>lAmE</td>
<td>3</td>
<td>4</td>
<td>345</td>
</tr>
<tr>
<td>42</td>
<td>The Malevolent Wolfpack</td>
<td>tMw</td>
<td>3</td>
<td>4</td>
<td>358</td>
</tr>
<tr>
<td>43</td>
<td>Spectral Agony</td>
<td>sA</td>
<td>3</td>
<td>4</td>
<td>194</td>
</tr>
<tr>
<td>44</td>
<td>Antique Massage Technique</td>
<td>BoX</td>
<td>3</td>
<td>3</td>
<td>173</td>
</tr>
<tr>
<td>45</td>
<td>The    Myrmidons Of Tyria</td>
<td>myrm</td>
<td>3</td>
<td>3</td>
<td>71</td>
</tr>
<tr>
<td>46</td>
<td>Zulu Ox Tactics</td>
<td>zulu</td>
<td>3</td>
<td>4</td>
<td>633</td>
</tr>
<tr>
<td>47</td>
<td>Oasis Is For Alcoholic But Is</td>
<td>GoOd</td>
<td>3</td>
<td>4</td>
<td>305</td>
</tr>
<tr>
<td>48</td>
<td>One Build Wonder</td>
<td>BadV</td>
<td>2</td>
<td>3</td>
<td>11</td>
</tr>
<tr>
<td>49</td>
<td>Burn The Sun</td>
<td>aRk</td>
<td>2</td>
<td>5</td>
<td>110</td>
</tr>
<tr>
<td>50</td>
<td>Making History</td>
<td>MH</td>
<td>2</td>
<td>4</td>
<td>399</td>
</tr>
<tr>
<td>51</td>
<td>Frogs Crossing The Street</td>
<td>qUaK</td>
<td>2</td>
<td>5</td>
<td>534</td>
</tr>
<tr>
<td>52</td>
<td>Bad In Game Bad In Life</td>
<td>TruE</td>
<td>2</td>
<td>5</td>
<td>211</td>
</tr>
<tr>
<td>53</td>
<td>No Official Argument</td>
<td>NoA</td>
<td>2</td>
<td>5</td>
<td>482</td>
</tr>
<tr>
<td>54</td>
<td>Vicious Delicious</td>
<td>VD</td>
<td>2</td>
<td>5</td>
<td>93</td>
</tr>
<tr>
<td>55</td>
<td>Horus Of Darkness</td>
<td>HoD</td>
<td>2</td>
<td>5</td>
<td>355</td>
</tr>
<tr>
<td>56</td>
<td>Worlds Biggest Silver Colection</td>
<td>KMD</td>
<td>1</td>
<td>5</td>
<td>770</td>
</tr>
<tr>
<td>57</td>
<td>Sixtied On Gank</td>
<td>Ouch</td>
<td>2</td>
<td>5</td>
<td>58</td>
</tr>
<tr>
<td>58</td>
<td>Adrenaline Junkies</td>
<td>AxE</td>
<td>1</td>
<td>0</td>
<td>41</td>
</tr>
<tr>
<td>59</td>
<td>We Love Chaos</td>
<td>ByoB</td>
<td>1</td>
<td>3</td>
<td>2886</td>
</tr>
<tr>
<td>60</td>
<td>K E N T O S A U R U S</td>
<td>ReX</td>
<td>1</td>
<td>5</td>
<td>177</td>
</tr>
<tr>
<td>61</td>
<td>Charr Sekrit Weppin</td>
<td>Nuux</td>
<td>0</td>
<td>2</td>
<td>2988</td>
</tr>
<tr>
<td>62</td>
<td>Hydration Formation</td>
<td>beer</td>
<td>0</td>
<td>2</td>
<td>176</td>
</tr>
<tr>
<td>63</td>
<td>Xunlai Tournament House</td>
<td>XTH</td>
<td>0</td>
<td>7</td>
<td>476</td>
</tr>
<tr>
<td>64</td>
<td>Hardcore Slayers</td>
<td>HARD</td>
<td>0</td>
<td>1</td>
<td>174</td>
</tr>
<tr>
<td>65</td>
<td>Bambi Division</td>
<td>bd</td>
<td>0</td>
<td>0</td>
<td>541</td>
</tr>
