<tr>
<td>1</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>4</td>
<td>0</td>
<td>3</td>
</tr>
<tr>
<td>2</td>
<td>Good    Tactics</td>
<td>Good</td>
<td>3</td>
<td>1</td>
<td>21</td>
</tr>
<tr>
<td>3</td>
<td>Too    Tired To Play</td>
<td>yawn</td>
<td>2</td>
<td>1</td>
<td>28</td>
</tr>
<tr>
<td>4</td>
<td>Illl    Ill Il I Il Ill</td>
<td>IIII</td>
<td>2</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td>5</td>
<td>The    Stonebenders Of Sanctum Cay</td>
<td>sC</td>
<td>1</td>
<td>1</td>
<td>1</td>
</tr>
<tr>
<td>6</td>
<td>Raging    Cadillacs</td>
<td>vROG</td>
<td>1</td>
<td>1</td>
<td>15</td>
</tr>
<tr>
<td>7</td>
<td>Bro    Code Loyalists</td>
<td>BcL</td>
<td>1</td>
<td>1</td>
<td>53</td>
</tr>
<tr>
<td>8</td>
<td>Highway    To The Dangerzone</td>
<td>TGun</td>
<td>1</td>
<td>1</td>
<td>78</td>
</tr>
<tr>
<td>9</td>
<td>Golden    Eagles Of Archvale Ridge</td>
<td>GeAr</td>
<td>0</td>
<td>1</td>
<td>20</td>
</tr>
<tr>
<td>10</td>
<td>The    Seven Spears Of Shizugatake</td>
<td>SSS</td>
<td>0</td>
<td>1</td>
<td>30</td>
</tr>
<tr>
<td>11</td>
<td>One    Thousand Kilogram Whale</td>
<td>yM</td>
<td>0</td>
<td>1</td>
<td>35</td>
</tr>
<tr>
<td>12</td>
<td>Pick    And Roll</td>
<td>PnR</td>
<td>0</td>
<td>1</td>
<td>200</td>
</tr>
<tr>
<td>13</td>
<td>Finnish    Itters</td>
<td>Ns</td>
<td>0</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>14</td>
<td>Herobattles    Ownz</td>
<td>LiES</td>
<td>0</td>
<td>1</td>
<td>44</td>
</tr>
<tr>
<td>15</td>
<td>Half    Man Half Bear Half Pig</td>
<td>MBP</td>
<td>0</td>
<td>1</td>
<td>61</td>
</tr>
<tr>
<td>16</td>
<td>&#24425;machine</td>
<td>bkai</td>
<td>0</td>
<td>1</td>
<td>147</td>
</tr>
