<tr>
<td>17</td>
<td>Pizza    Rangers</td>
<td>PzzR</td>
<td>4</td>
<td>2</td>
<td>121</td>
</tr>
<tr>
<td>18</td>
<td>Simply    Complicated</td>
<td>Sigh</td>
<td>4</td>
<td>2</td>
<td>40</td>
</tr>
<tr>
<td>19</td>
<td>Modern    Massage Technique</td>
<td>RoX</td>
<td>4</td>
<td>2</td>
<td>36</td>
</tr>
<tr>
<td>20</td>
<td>Gummi    Bears Ftw</td>
<td>GO</td>
<td>4</td>
<td>2</td>
<td>255</td>
</tr>
<tr>
<td>21</td>
<td>Trash    Talk Team</td>
<td>trsh</td>
<td>3</td>
<td>3</td>
<td>421</td>
</tr>
<tr>
<td>22</td>
<td>Russisches    Quellwasser Vod</td>
<td>ka</td>
<td>3</td>
<td>3</td>
<td>25</td>
</tr>
<tr>
<td>23</td>
<td>Honor    Last Night</td>
<td>word</td>
<td>3</td>
<td>3</td>
<td>50</td>
</tr>
<tr>
<td>24</td>
<td>Husaria    Pol</td>
<td>HSR</td>
<td>3</td>
<td>3</td>
<td>48</td>
</tr>
<tr>
<td>25</td>
<td>Instant    Karma</td>
<td>inka</td>
<td>3</td>
<td>3</td>
<td>97</td>
</tr>
<tr>
<td>26</td>
<td>Cyber    Devil Footmen</td>
<td>CDF</td>
<td>3</td>
<td>3</td>
<td>215</td>
</tr>
<tr>
<td>27</td>
<td>Putin    Stole Obamas Bike</td>
<td>tRy</td>
<td>3</td>
<td>3</td>
<td>79</td>
</tr>
<tr>
<td>28</td>
<td>Ill    Disposable Heroes Ill</td>
<td>DirT</td>
<td>3</td>
<td>3</td>
<td>84</td>
</tr>
<tr>
<td>29</td>
<td>No    One Stay Unknow</td>
<td>unk</td>
<td>3</td>
<td>3</td>
<td>159</td>
</tr>
<tr>
<td>30</td>
<td>Jump    The W A L L</td>
<td>sPad</td>
<td>3</td>
<td>3</td>
<td>322</td>
</tr>
<tr>
<td>31</td>
<td>Critical    Teamplay</td>
<td>qp</td>
<td>3</td>
<td>3</td>
<td>42</td>
</tr>
<tr>
<td>32</td>
<td>Dire    Rainbow Gladiators</td>
<td>TuKi</td>
<td>3</td>
<td>3</td>
<td>231</td>
</tr>
<tr>
<td>33</td>
<td>Autobus    Nocturno</td>
<td>buho</td>
<td>3</td>
<td>3</td>
<td>187</td>
</tr>
<tr>
<td>34</td>
<td>We    Like Experienze</td>
<td>milf</td>
<td>3</td>
<td>3</td>
<td>254</td>
</tr>
<tr>
<td>35</td>
<td>Tales    Of The White Oak</td>
<td>Tree</td>
<td>3</td>
<td>3</td>
<td>260</td>
</tr>
<tr>
<td>36</td>
<td>Une    Bande De Mecs Sympa</td>
<td>MeSy</td>
<td>3</td>
<td>3</td>
<td>87</td>
</tr>
<tr>
<td>37</td>
<td>Communism    Is The Final Option</td>
<td>LAME</td>
<td>3</td>
<td>3</td>
<td>194</td>
</tr>
<tr>
<td>38</td>
<td>The    Silver Death</td>
<td>SD</td>
<td>2</td>
<td>4</td>
<td>343</td>
</tr>
<tr>
<td>39</td>
<td>We    Were Meant To Be</td>
<td>fate</td>
<td>2</td>
<td>4</td>
<td>206</td>
</tr>
<tr>
<td>40</td>
<td>We    Geek To Have A Life</td>
<td>GeeK</td>
<td>2</td>
<td>4</td>
<td>361</td>
</tr>
<tr>
<td>41</td>
<td>Tombs    Is Srs Business</td>
<td>IWAY</td>
<td>2</td>
<td>4</td>
<td>118</td>
</tr>
<tr>
<td>42</td>
<td>Team    Sandmann</td>
<td>Zzzz</td>
<td>2</td>
<td>4</td>
<td>135</td>
</tr>
