<tr>
<td>1</td>
<td>Rebel    Rising And Friends</td>
<td>rawr</td>
<td>4</td>
<td>0</td>
<td>235</td>
</tr>
<tr>
<td>2</td>
<td>Stealing    Society</td>
<td>StS</td>
<td>3</td>
<td>1</td>
<td>5</td>
</tr>
<tr>
<td>3</td>
<td>Serious    Gamers</td>
<td>srs</td>
<td>2</td>
<td>1</td>
<td>15</td>
</tr>
<tr>
<td>4</td>
<td>Ultraviolent    Team</td>
<td>Wins</td>
<td>2</td>
<td>1</td>
<td>112</td>
</tr>
<tr>
<td>5</td>
<td>Get    Quaked</td>
<td>NJoY</td>
<td>1</td>
<td>1</td>
<td>115</td>
</tr>
<tr>
<td>6</td>
<td>I    Disposable Heroes I</td>
<td>DirT</td>
<td>1</td>
<td>1</td>
<td>3</td>
</tr>
<tr>
<td>7</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>1</td>
<td>1</td>
<td>7</td>
</tr>
<tr>
<td>8</td>
<td>Even    Captain Of Titanic Said</td>
<td>LaG</td>
<td>1</td>
<td>1</td>
<td>13</td>
</tr>
<tr>
<td>9</td>
<td>High    Ping Victims</td>
<td>FFS</td>
<td>0</td>
<td>1</td>
<td>10</td>
</tr>
<tr>
<td>10</td>
<td>Under    Pressure</td>
<td>uP</td>
<td>0</td>
<td>1</td>
<td>16</td>
</tr>
<tr>
<td>11</td>
<td>Anonymous    Amateurs</td>
<td>AA</td>
<td>0</td>
<td>1</td>
<td>18</td>
</tr>
<tr>
<td>12</td>
<td>Men    Of Substance</td>
<td>YMCA</td>
<td>0</td>
<td>1</td>
<td>53</td>
</tr>
<tr>
<td>13</td>
<td>The    Battle Bakery</td>
<td>vPie</td>
<td>0</td>
<td>1</td>
<td>8</td>
</tr>
<tr>
<td>14</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>0</td>
<td>1</td>
<td>11</td>
</tr>
<tr>
<td>15</td>
<td>Serious    Sin</td>
<td>SiN</td>
<td>0</td>
<td>1</td>
<td>80</td>
</tr>
<tr>
<td>16</td>
<td>Paladins    Of Truth And Justice</td>
<td>Just</td>
<td>0</td>
<td>1</td>
<td>343</td>
</tr>
