<tr>
<td>1</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>0</td>
<td>1</td>
<td>11</td>
</tr>
<tr>
<td>2</td>
<td>Stealing    Society</td>
<td>StS</td>
<td>1</td>
<td>0</td>
<td>5</td>
</tr>
<tr>
<td>3</td>
<td>High    Ping Victims</td>
<td>FFS</td>
<td>0</td>
<td>1</td>
<td>10</td>
</tr>
<tr>
<td>4</td>
<td>The    Battle Bakery</td>
<td>vPie</td>
<td>0</td>
<td>1</td>
<td>8</td>
</tr>
<tr>
<td>5</td>
<td>Paladins    Of Truth And Justice</td>
<td>Just</td>
<td>0</td>
<td>1</td>
<td>343</td>
</tr>
<tr>
<td>6</td>
<td>Serious    Sin</td>
<td>SiN</td>
<td>0</td>
<td>1</td>
<td>80</td>
</tr>
<tr>
<td>7</td>
<td>Anonymous    Amateurs</td>
<td>AA</td>
<td>0</td>
<td>1</td>
<td>18</td>
</tr>
<tr>
<td>8</td>
<td>Men    Of Substance</td>
<td>YMCA</td>
<td>0</td>
<td>1</td>
<td>53</td>
</tr>
<tr>
<td>9</td>
<td>Ultraviolent    Team</td>
<td>Wins</td>
<td>1</td>
<td>0</td>
<td>112</td>
</tr>
<tr>
<td>10</td>
<td>Serious    Gamers</td>
<td>srs</td>
<td>1</td>
<td>0</td>
<td>15</td>
</tr>
<tr>
<td>11</td>
<td>Even    Captain Of Titanic Said</td>
<td>LaG</td>
<td>1</td>
<td>0</td>
<td>13</td>
</tr>
<tr>
<td>12</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>1</td>
<td>0</td>
<td>7</td>
</tr>
<tr>
<td>13</td>
<td>I    Disposable Heroes I</td>
<td>DirT</td>
<td>1</td>
<td>0</td>
<td>3</td>
</tr>
<tr>
<td>14</td>
<td>Rebel    Rising And Friends</td>
<td>rawr</td>
<td>1</td>
<td>0</td>
<td>235</td>
</tr>
<tr>
<td>15</td>
<td>Under    Pressure</td>
<td>uP</td>
<td>0</td>
<td>1</td>
<td>16</td>
</tr>
<tr>
<td>16</td>
<td>Get    Quaked</td>
<td>NJoY</td>
<td>1</td>
<td>0</td>
<td>115</td>
</tr>
<tr>
<td>17</td>
<td>Team    Chaos Theory</td>
<td>hent</td>
<td>4</td>
<td>2</td>
<td>55</td>
</tr>
<tr>
<td>18</td>
<td>Hardcore    Slayers</td>
<td>HARD</td>
<td>4</td>
<td>2</td>
<td>54</td>
</tr>
<tr>
<td>19</td>
<td>The    Myrmidons Of Tyria</td>
<td>myrm</td>
<td>2</td>
<td>3</td>
<td>28</td>
</tr>
<tr>
<td>20</td>
<td>Painful    Psychosomatic Problem</td>
<td>PPP</td>
<td>3</td>
<td>3</td>
<td>237</td>
</tr>
<tr>
<td>21</td>
<td>Galileo    Mystery</td>
<td>Team</td>
<td>3</td>
<td>3</td>
<td>17</td>
</tr>
<tr>
<td>22</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>3</td>
<td>3</td>
<td>128</td>
</tr>
<tr>
<td>23</td>
<td>Ekipa    Czlowieka Z Kartonu</td>
<td>KrTn</td>
<td>3</td>
<td>3</td>
<td>164</td>
</tr>
<tr>
<td>24</td>
<td>Tortuga    Bay</td>
<td>Grog</td>
<td>3</td>
<td>3</td>
<td>44</td>
</tr>
<tr>
<td>25</td>
<td>Piken    Square</td>
<td>ps</td>
<td>3</td>
<td>2</td>
<td>413</td>
</tr>
<tr>
<td>26</td>
<td>Team    Chop Chop</td>
<td>HupS</td>
<td>3</td>
<td>3</td>
<td>69</td>
</tr>
<tr>
<td>27</td>
<td>No    Cookies Left</td>
<td>NOW</td>
<td>3</td>
<td>3</td>
<td>23</td>
</tr>
<tr>
<td>28</td>
<td>Time    For Plan B</td>
<td>RUN</td>
<td>3</td>
<td>3</td>
<td>178</td>
</tr>
<tr>
<td>29</td>
<td>One    Night In</td>
<td>KosS</td>
<td>2</td>
<td>3</td>
<td>192</td>
</tr>
<tr>
<td>30</td>
<td>Maenner    Ohne Wirkliches Leben</td>
<td>mOwl</td>
<td>3</td>
<td>3</td>
<td>171</td>
</tr>
<tr>
<td>31</td>
<td>Pals    Forever</td>
<td>Pals</td>
<td>2</td>
<td>3</td>
<td>298</td>
</tr>
<tr>
<td>32</td>
<td>Tombs    Is Srs Business</td>
<td>IWAY</td>
<td>3</td>
<td>3</td>
<td>83</td>
</tr>
<tr>
<td>33</td>
<td>Super    Kaon Action Team</td>
<td>Ban</td>
<td>3</td>
<td>3</td>
<td>96</td>
</tr>
<tr>
<td>34</td>
<td>Blight    Gaming</td>
<td>BG</td>
<td>2</td>
<td>4</td>
<td>78</td>
</tr>
<tr>
<td>35</td>
<td>Fallit    Imago</td>
<td>Fi</td>
<td>2</td>
<td>4</td>
<td>42</td>
</tr>
<tr>
<td>36</td>
<td>High    Voltage Players</td>
<td>cRnk</td>
<td>2</td>
<td>4</td>
<td>233</td>
</tr>
<tr>
<td>37</td>
<td>Random    Euro Trash</td>
<td>qft</td>
<td>2</td>
<td>4</td>
<td>33</td>
</tr>
<tr>
<td>38</td>
<td>Our    Lord Is In Another Castle</td>
<td>oops</td>
<td>2</td>
<td>4</td>
<td>462</td>
</tr>
<tr>
<td>39</td>
<td>Jump    In And Find</td>
<td>out</td>
<td>2</td>
<td>4</td>
<td>521</td>
</tr>
<tr>
<td>40</td>
<td>Il    Il Illl I I I Illl Ill Ill I</td>
<td>puti</td>
<td>2</td>
<td>4</td>
<td>304</td>
</tr>
<tr>
<td>41</td>
<td>Good    Guild Rejects</td>
<td>FuP</td>
<td>2</td>
<td>4</td>
<td>254</td>
</tr>
<tr>
<td>42</td>
<td>Mens    Sana In Corpore Sano</td>
<td>mind</td>
<td>2</td>
<td>4</td>
<td>267</td>
</tr>
<tr>
<td>43</td>
<td>No    Official Argument</td>
<td>NoA</td>
<td>2</td>
<td>4</td>
<td>110</td>
</tr>
<tr>
<td>44</td>
<td>Captain    Tickles Pirate Palooza</td>
<td>Arrr</td>
<td>2</td>
<td>4</td>
<td>322</td>
</tr>
<tr>
<td>45</td>
<td>Terror    Of The Justice Salmon</td>
<td>FisH</td>
<td>1</td>
<td>3</td>
<td>134</td>
</tr>
<tr>
<td>46</td>
<td>Pathetic    Heroes</td>
<td>pH</td>
<td>1</td>
<td>5</td>
<td>544</td>
</tr>
<tr>
<td>47</td>
<td>Be    Team</td>
<td>be</td>
<td>1</td>
<td>1</td>
<td>31</td>
</tr>
<tr>
<td>48</td>
<td>Suur    Kaklus Masin</td>
<td>EST</td>
<td>1</td>
<td>4</td>
<td>733</td>
</tr>
<tr>
<td>49</td>
<td>In    Search Of Guild</td>
<td>lord</td>
<td>0</td>
<td>5</td>
<td>2075</td>
</tr>
<tr>
<td>50</td>
<td>The    Spiders Lair Guild Kurz</td>
<td>SpL</td>
<td>1</td>
<td>5</td>
<td>2093</td>
</tr>
<tr>
<td>51</td>
<td>Our    Smexy Monks Make You</td>
<td>iNK</td>
<td>0</td>
<td>3</td>
<td>202</td>
</tr>
