<tr>
<td>1</td><td>Clan Union</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12.346</td>
<td>16</td>
</tr>
<tr>
<td>2</td><td>Good Artist</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9.439</td>
<td>26</td>
</tr>
<tr>
<td>3</td><td>Dark Alley</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.418</td>
<td>3</td>
</tr>
<tr>
<td>4</td><td>You Failed</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.293</td>
<td>7</td>
</tr>
<tr>
<td>5</td><td>Stealing Society</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.5</td>
<td>1</td>
</tr>
<tr>
<td>6</td><td>Professional Athletes</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.313</td>
<td>22</td>
</tr>
<tr>
<td>7</td><td>Whats Going On</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>4</td>
</tr>
<tr>
<td>8</td><td>Theres A New Sheriff In</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>20</td>
</tr>
<tr>
<td>9</td><td>Best Before</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.999</td>
<td>15</td>
</tr>
<tr>
<td>10</td><td>Laxigen Addicts</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.626</td>
<td>17</td>
</tr>
<tr>
<td>11</td><td>Close Encounter</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>12</td>
</tr>
<tr>
<td>12</td><td>Shameful Idiots</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>171</td>
</tr>
<tr>
<td>13</td><td>Rebel Rising</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>5</td>
</tr>
<tr>
<td>14</td><td>Not Another Reform</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>40</td>
</tr>
<tr>
<td>15</td><td>No Gutz No Glory</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>54</td>
</tr>
<tr>
<td>16</td><td>Kirby In Dreamland</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>79</td>
</tr>
