<tr>
<td>1</td><td>You Failed</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.491</td>
<td>7</td>
</tr>
<tr>
<td>2</td><td>Dark Alley</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.482</td>
<td>3</td>
</tr>
<tr>
<td>3</td><td>Whats Going On</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.415</td>
<td>4</td>
</tr>
<tr>
<td>4</td><td>Theres A New Sheriff In</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.36</td>
<td>20</td>
</tr>
<tr>
<td>5</td><td>Laxigen Addicts</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.335</td>
<td>17</td>
</tr>
<tr>
<td>6</td><td>Stealing Society</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.491</td>
<td>1</td>
</tr>
<tr>
<td>7</td><td>Professional Athletes</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.456</td>
<td>22</td>
</tr>
<tr>
<td>8</td><td>Best Before</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.4</td>
<td>15</td>
</tr>
<tr>
<td>9</td><td>Clan Union</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.39</td>
<td>16</td>
</tr>
<tr>
<td>10</td><td>No Gutz No Glory</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.39</td>
<td>54</td>
</tr>
<tr>
<td>11</td><td>Not Another Reform</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.38</td>
<td>40</td>
</tr>
<tr>
<td>12</td><td>Good Artist</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.36</td>
<td>26</td>
</tr>
<tr>
<td>13</td><td>Kirby In Dreamland</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.303</td>
<td>79</td>
</tr>
<tr>
<td>14</td><td>Rebel Rising</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.299</td>
<td>5</td>
</tr>
<tr>
<td>15</td><td>Shameful Idiots</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.217</td>
<td>171</td>
</tr>
<tr>
<td>16</td><td>Close Encounter</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.482</td>
<td>12</td>
</tr>
<tr>
<td>17</td><td>Lethal Dosis</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.476</td>
<td>158</td>
</tr>
<tr>
<td>18</td><td>Supernova Jpn</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.451</td>
<td>9</td>
</tr>
<tr>
<td>19</td><td>Forgotten Myth</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.4</td>
<td>265</td>
</tr>
<tr>
<td>20</td><td>Pff We Are In</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.36</td>
<td>155</td>
</tr>
<tr>
<td>21</td><td>The C E N S O R E D</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.349</td>
<td>28</td>
</tr>
<tr>
<td>22</td><td>Revive Teammates</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.309</td>
<td>32</td>
</tr>
<tr>
<td>23</td><td>Mistral Edge</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.304</td>
<td>14</td>
</tr>
<tr>
<td>24</td><td>Ghostly Heroes</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.278</td>
<td>41</td>
</tr>
<tr>
<td>25</td><td>Hawk Smash</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.267</td>
<td>125</td>
</tr>
<tr>
<td>26</td><td>The Tragic Magic</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.257</td>
<td>68</td>
</tr>
<tr>
<td>27</td><td>Ugly Ducklings</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.237</td>
<td>294</td>
</tr>
<tr>
<td>28</td><td>Epic Quarrel</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.208</td>
<td>42</td>
</tr>
<tr>
<td>29</td><td>Angolanische Ziegenmafia</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.185</td>
<td>100</td>
</tr>
<tr>
<td>30</td><td>Chaos Equilibrium</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.182</td>
<td>218</td>
</tr>
<tr>
<td>31</td><td>Improve Your Skillz</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.125</td>
<td>381</td>
</tr>
<tr>
<td>32</td><td>Amazing Strength</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.089</td>
<td>119</td>
</tr>
<tr>
<td>33</td><td>Jelly Toasts</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.348</td>
<td>93</td>
</tr>
<tr>
<td>34</td><td>Terror Of The Justice Salmon</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.348</td>
<td>145</td>
</tr>
<tr>
<td>35</td><td>The Jagerbombs</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.287</td>
<td>154</td>
</tr>
<tr>
<td>36</td><td>Heart Of Ashes And Dust</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.278</td>
<td>24</td>
</tr>
<tr>
<td>37</td><td>We Want Cookies</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.272</td>
<td>51</td>
</tr>
<tr>
<td>38</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.258</td>
<td>19</td>
</tr>
<tr>
<td>39</td><td>Witness Of Destiny</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.258</td>
<td>285</td>
</tr>
<tr>
<td>40</td><td>Unknown Playaz</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.237</td>
<td>178</td>
</tr>
<tr>
<td>41</td><td>Team Chaos Theory</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.237</td>
<td>185</td>
</tr>
<tr>
<td>42</td><td>I Victory Or Death I</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.226</td>
<td>213</td>
</tr>
<tr>
<td>43</td><td>Sinking Ship</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.221</td>
<td>233</td>
</tr>
<tr>
<td>44</td><td>Fortis Primani</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.216</td>
<td>2133</td>
</tr>
<tr>
<td>45</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.185</td>
<td>152</td>
</tr>
<tr>
<td>46</td><td>What Is This</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.146</td>
<td>117</td>
</tr>
<tr>
<td>47</td><td>International District</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.339</td>
<td>209</td>
</tr>
<tr>
<td>48</td><td>神選的</td>
<td>Forfeit</td>
<td>2</td>
<td>4</td>
<td>6.273</td>
<td>793</td>
</tr>
<tr>
<td>49</td><td>Unreal Thoughts</td>
<td>Forfeit</td>
<td>2</td>
<td>4</td>
<td>6.242</td>
<td>142</td>
</tr>
<tr>
<td>50</td><td>Disciple Of Wesh</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.227</td>
<td>85</td>
</tr>
<tr>
<td>51</td><td>I Falchi Bianchi</td>
<td>Forfeit</td>
<td>1</td>
<td>3</td>
<td>6.161</td>
<td>316</td>
</tr>
<tr>
<td>52</td><td>We Are From Poland</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.156</td>
<td>415</td>
</tr>
<tr>
<td>53</td><td>Sharks And Penguins</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.145</td>
<td>639</td>
</tr>
<tr>
<td>54</td><td>Legend Will Never Die</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>6.026</td>
<td>474</td>
</tr>
<tr>
<td>55</td><td>Lets Make Love Not</td>
<td>Forfeit</td>
<td>0</td>
<td>5</td>
<td>3.216</td>
<td>5316</td>
</tr>
<tr>
<td>56</td><td>Fette Wamos Braucht Das</td>
<td>Forfeit</td>
<td>1</td>
<td>5</td>
<td>3.196</td>
<td>52</td>
</tr>
<tr>
<td>57</td><td>We Love Frenzy At</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3.181</td>
<td>77</td>
</tr>
<tr>
<td>58</td><td>Big Bomb</td>
<td>Forfeit</td>
<td>0</td>
<td>4</td>
<td>3.144</td>
<td>411</td>
</tr>
<tr>
<td>59</td><td>Beyond The Heaven</td>
<td>Forfeit</td>
<td>1</td>
<td>0</td>
<td>3.127</td>
<td>352</td>
</tr>
<tr>
<td>60</td><td>Untimely Demise</td>
<td>Forfeit</td>
<td>1</td>
<td>5</td>
<td>3.085</td>
<td>603</td>
</tr>
<tr>
<td>61</td><td>Dont Mess With The Don</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.502</td>
<td>165</td>
</tr>
<tr>
<td>62</td><td>Dosen Verwertungs Anstalt</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>111</td>
</tr>
<tr>
<td>63</td><td>Guild Drama</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>204</td>
</tr>
<tr>
<td>64</td><td>Look Please Trash</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>207</td>
</tr>
<tr>
<td>65</td><td>Everytime An Iway Forms Babies</td>
<td>Forfeit</td>
<td>0</td>
<td>2</td>
<td>0.169</td>
<td>350</td>
</tr>
<tr>
<td>66</td><td>We Love Pve</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.005</td>
<td>131</td>
</tr>
<tr>
<td>67</td><td>Il Green Monkeys Il</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>251</td>
</tr>
<tr>
<td>68</td><td>I Les Bras Casses I</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>276</td>
</tr>
