<tr>
<td>1</td>
<td>Get    Good</td>
<td>GG</td>
<td>4</td>
<td>0</td>
<td>19</td>
</tr>
<tr>
<td>2</td>
<td>The    Marvel Superheroes</td>
<td>MSH</td>
<td>3</td>
<td>1</td>
<td>77</td>
</tr>
<tr>
<td>3</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>2</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>4</td>
<td>Vent    Rage</td>
<td>vR</td>
<td>2</td>
<td>1</td>
<td>40</td>
</tr>
<tr>
<td>5</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>1</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td>6</td>
<td>The    Stonebenders Of Sanctum Cay</td>
<td>sC</td>
<td>1</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>7</td>
<td>Illl    Ill Il I Il Ill</td>
<td>IIII</td>
<td>1</td>
<td>1</td>
<td>13</td>
</tr>
<tr>
<td>8</td>
<td>Dangerous    Fraternity</td>
<td>FRA</td>
<td>1</td>
<td>1</td>
<td>16</td>
</tr>
<tr>
<td>9</td>
<td>Russisches    Quellwasser Vod</td>
<td>ka</td>
<td>0</td>
<td>1</td>
<td>35</td>
</tr>
<tr>
<td>10</td>
<td>No    Mercy For The</td>
<td>weak</td>
<td>0</td>
<td>1</td>
<td>85</td>
</tr>
<tr>
<td>11</td>
<td>Math    Club Party Crew</td>
<td>Team</td>
<td>0</td>
<td>1</td>
<td>21</td>
</tr>
<tr>
<td>12</td>
<td>In    N Out Burgers And Shakes</td>
<td>Inc</td>
<td>0</td>
<td>1</td>
<td>406</td>
</tr>
<tr>
<td>13</td>
<td>Half    Man Half Bear Half Pig</td>
<td>MBP</td>
<td>0</td>
<td>1</td>
<td>23</td>
</tr>
<tr>
<td>14</td>
<td>Disgruntled    Peasants</td>
<td>Pleb</td>
<td>0</td>
<td>1</td>
<td>29</td>
</tr>
<tr>
<td>15</td>
<td>Finnish    Itters</td>
<td>Ns</td>
<td>0</td>
<td>1</td>
<td>45</td>
</tr>
<tr>
<td>16</td>
<td>Husaria    Pol</td>
<td>HSR</td>
<td>0</td>
<td>1</td>
<td>59</td>
</tr>
