<tr>
<td>1</td>
<td>Chipotle    Mexican Bar And Grill</td>
<td>Inc</td>
<td>4</td>
<td>0</td>
<td>46</td>
</tr>
<tr>
<td>2</td>
<td>Seppuku    Paradigm</td>
<td>AA</td>
<td>3</td>
<td>1</td>
<td>11</td>
</tr>
<tr>
<td>3</td>
<td>Des    Fruits De Leau De Source Du</td>
<td>FuN</td>
<td>2</td>
<td>1</td>
<td>105</td>
</tr>
<tr>
<td>4</td>
<td>The    Stonebenders Of Sanctum Cay</td>
<td>sC</td>
<td>2</td>
<td>1</td>
<td>26</td>
</tr>
<tr>
<td>5</td>
<td>Even    Captain Of Titanic Said</td>
<td>LaG</td>
<td>1</td>
<td>1</td>
<td>13</td>
</tr>
<tr>
<td>6</td>
<td>Disgruntled    Peasants</td>
<td>Pleb</td>
<td>1</td>
<td>1</td>
<td>56</td>
</tr>
<tr>
<td>7</td>
<td>Tombs    Is Srs Business</td>
<td>IWAY</td>
<td>1</td>
<td>1</td>
<td>33</td>
</tr>
<tr>
<td>8</td>
<td>Artificial    Paranoid</td>
<td>Art</td>
<td>1</td>
<td>1</td>
<td>111</td>
</tr>
<tr>
<td>9</td>
<td>The    Small Spartans</td>
<td>BoBo</td>
<td>0</td>
<td>1</td>
<td>30</td>
</tr>
<tr>
<td>10</td>
<td>Russisches    Quellwasser Vod</td>
<td>ka</td>
<td>0</td>
<td>1</td>
<td>23</td>
</tr>
<tr>
<td>11</td>
<td>Obsidian    Sun</td>
<td>OdS</td>
<td>0</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>12</td>
<td>Striking    Distance</td>
<td>sD</td>
<td>0</td>
<td>1</td>
<td>27</td>
</tr>
<tr>
<td>13</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>0</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td>14</td>
<td>Math    Club Party Crew</td>
<td>Team</td>
<td>0</td>
<td>1</td>
<td>10</td>
</tr>
<tr>
<td>15</td>
<td>Get    Good</td>
<td>GG</td>
<td>0</td>
<td>1</td>
<td>14</td>
</tr>
<tr>
<td>16</td>
<td>Inadequately    Equipped</td>
<td>GeAr</td>
<td>0</td>
<td>1</td>
<td>24</td>
</tr>
