<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax">
            <div class="mpl-image" data-speed="0.8">
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container text-center" data-sr="coming-soon" data-sr-interval="200" data-sr-duration="1200" data-sr-distance="20">
                    <h1 class="display-1 mb-60" data-sr-item="coming-soon">Tournaments</h1>
                    <div class="mpl-countdown mpl-countdown-transparent h4" data-end="2021-05-21 12:00" data-timezone="EST" data-sr-item="coming-soon"></div>
                    <a href="#" class="btn btn-md mt-60" data-sr-item="coming-soon">Coming soon</a>
                </div>
            </div>
        </section>
        <%= render 'footer' %>
    </div>
</div>
