<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax mpl-banner-small">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-lg">
                <div class="container">
                    <h1 class="display-1 mb-0">Tournaments</h1>
                </div>
            </div>
        </section>
        <div class="container mpl-box-md">
            <h2>2008 Tournament Series / January Championship GvG Results</h2>
            <h3>Elimination Results</h3>
            <table class="table table-striped table-responsive mb-60">
                <thead>
                    <tr>
                        <th scope="col">Finish</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <% unless (
                                @tournament.year >= 2009 &&
                                @tournament.month >= 5
                            ) &&
                            (
                                @tournament.year <= 2010 &&
                                @tournament.month <= 8
                            )
                        %>
                            <th scope="col">Match/TB</th>
                        <% end %>
                        <th scope="col">Ladder</th>
                    </tr>
                </thead>
                <tbody>
                    <%= render "tournaments/#{@tournament.year}/#{@tournament.month}/elimination_results" %>
                </tbody>
            </table>
            <% unless (
                        @tournament.year >= 2010 &&
                        @tournament.month >= 6
                    ) &&
                    (
                        @tournament.year <= 2010 &&
                        @tournament.month <= 7
                    )
            %>
                <h3>Swiss Rounds Results</h3>
            <% end %>
            <table class="table table-striped table-responsive mb-60">
                <thead>
                    <tr>
                        <th scope="col">Finish</th>
                        <th scope="col">Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Losses</th>
                        <% unless (
                                @tournament.year >= 2009 &&
                                @tournament.month >= 5
                            ) &&
                            (
                                @tournament.year <= 2010 &&
                                @tournament.month <= 8
                            )
                        %>
                            <th scope="col">Match/TB</th>
                        <% end %>
                        <th scope="col">Ladder</th>
                    </tr>
                </thead>
                <tbody>
                   <%= render "tournaments/#{@tournament.year}/#{@tournament.month}/swiss_rounds_results" %>
                </tbody>
            </table>
        </div>
        <%= render 'footer' %>
    </div>
</div>
