<tr>
<td>1</td>
<td>Young Money Merger</td>
<td>YM</td>
<td>4</td>
<td>0</td>
<td>13</td>
</tr>
<tr>
<td>2</td>
<td>Men Of Substance</td>
<td>YMCA</td>
<td>3</td>
<td>1</td>
<td>70</td>
</tr>
<tr>
<td>3</td>
<td>Edible Granite Pencil</td>
<td>yumy</td>
<td>2</td>
<td>1</td>
<td>6</td>
</tr>
<tr>
<td>4</td>
<td>For Lack Of A Better Name</td>
<td>sup</td>
<td>2</td>
<td>1</td>
<td>40</td>
</tr>
<tr>
<td>5</td>
<td>The Angry Fishermen</td>
<td>FISH</td>
<td>1</td>
<td>1</td>
<td>69</td>
</tr>
<tr>
<td>6</td>
<td>Yltsohg Seoreh</td>
<td>GoH</td>
<td>1</td>
<td>1</td>
<td>11</td>
</tr>
<tr>
<td>7</td>
<td>Vent Rage</td>
<td>vR</td>
<td>1</td>
<td>1</td>
<td>24</td>
</tr>
<tr>
<td>8</td>
<td>Get Good</td>
<td>GG</td>
<td>1</td>
<td>1</td>
<td>38</td>
</tr>
<tr>
<td>9</td>
<td>Old N Dirty</td>
<td>ym</td>
<td>0</td>
<td>1</td>
<td>31</td>
</tr>
<tr>
<td>10</td>
<td>Tortuga Bay</td>
<td>Grog</td>
<td>0</td>
<td>1</td>
<td>111</td>
</tr>
<tr>
<td>11</td>
<td>Math Club Party Crew</td>
<td>Team</td>
<td>0</td>
<td>1</td>
<td>7</td>
</tr>
<tr>
<td>12</td>
<td>Seppo Hovi Action Team</td>
<td>Ban</td>
<td>0</td>
<td>1</td>
<td>123</td>
</tr>
<tr>
<td>13</td>
<td>Get Straight Or Die Trying</td>
<td>kewl</td>
<td>0</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>14</td>
<td>Let Me Write It Down In My Care</td>
<td>Book</td>
<td>0</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>15</td>
<td>Sruetama Suomynona</td>
<td>VV</td>
<td>0</td>
<td>1</td>
<td>16</td>
</tr>
<tr>
<td>16</td>
<td>Black Cadillacs</td>
<td>OG</td>
<td>0</td>
<td>1</td>
<td>22</td>
</tr>
