<tr>
<td>1</td>
<td>Young    Money Merger</td>
<td>YM</td>
<td>1</td>
<td>0</td>
<td>13</td>
</tr>
<tr>
<td>2</td>
<td>Vent    Rage</td>
<td>vR</td>
<td>1</td>
<td>0</td>
<td>24</td>
</tr>
<tr>
<td>3</td>
<td>Black    Cadillacs</td>
<td>OG</td>
<td>0</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>4</td>
<td>Math    Club Party Crew</td>
<td>Team</td>
<td>0</td>
<td>1</td>
<td>7</td>
</tr>
<tr>
<td>5</td>
<td>Seppo    Hovi Action Team</td>
<td>Ban</td>
<td>0</td>
<td>1</td>
<td>123</td>
</tr>
<tr>
<td>6</td>
<td>Tortuga    Bay</td>
<td>Grog</td>
<td>0</td>
<td>1</td>
<td>111</td>
</tr>
<tr>
<td>7</td>
<td>Sruetama    Suomynona</td>
<td>VV</td>
<td>0</td>
<td>1</td>
<td>16</td>
</tr>
<tr>
<td>8</td>
<td>Get    Straight Or Die Trying</td>
<td>kewl</td>
<td>0</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>9</td>
<td>Yltsohg    Seoreh</td>
<td>GoH</td>
<td>1</td>
<td>0</td>
<td>11</td>
</tr>
<tr>
<td>10</td>
<td>Get    Good</td>
<td>GG</td>
<td>1</td>
<td>0</td>
<td>38</td>
</tr>
<tr>
<td>11</td>
<td>Men    Of Substance</td>
<td>YMCA</td>
<td>1</td>
<td>0</td>
<td>70</td>
</tr>
<tr>
<td>12</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>1</td>
<td>0</td>
<td>6</td>
</tr>
<tr>
<td>13</td>
<td>For    Lack Of A Better Name</td>
<td>sup</td>
<td>1</td>
<td>0</td>
<td>40</td>
</tr>
<tr>
<td>14</td>
<td>The    Angry Fishermen</td>
<td>FISH</td>
<td>1</td>
<td>0</td>
<td>69</td>
</tr>
<tr>
<td>15</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>0</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>16</td>
<td>Old    N Dirty</td>
<td>ym</td>
<td>0</td>
<td>1</td>
<td>31</td>
</tr>
<tr>
<td>17</td>
<td>No    Doubt No Fear</td>
<td>RuN</td>
<td>4</td>
<td>2</td>
<td>82</td>
</tr>
<tr>
<td>18</td>
<td>Parcie    Na Szklo</td>
<td>Trim</td>
<td>4</td>
<td>2</td>
<td>96</td>
</tr>
<tr>
<td>19</td>
<td>Clan    Zyzq</td>
<td>ZYZQ</td>
<td>4</td>
<td>2</td>
<td>135</td>
</tr>
<tr>
<td>20</td>
<td>Retirement    Home</td>
<td>Old</td>
<td>3</td>
<td>3</td>
<td>60</td>
</tr>
<tr>
<td>21</td>
<td>Husaria    Pol</td>
<td>HSR</td>
<td>3</td>
<td>3</td>
<td>48</td>
</tr>
<tr>
<td>22</td>
<td>Avec    Malus Et Nonchalance</td>
<td>AmeN</td>
<td>3</td>
<td>3</td>
<td>255</td>
</tr>
<tr>
<td>23</td>
<td>The    Stonebenders Of Sanctum Cay</td>
<td>sC</td>
<td>3</td>
<td>3</td>
<td>62</td>
</tr>
<tr>
<td>24</td>
<td>Why    So</td>
<td>SRS</td>
<td>3</td>
<td>3</td>
<td>83</td>
</tr>
<tr>
<td>25</td>
<td>Dont    Eat Yellow</td>
<td>snow</td>
<td>3</td>
<td>3</td>
<td>393</td>
</tr>
<tr>
<td>26</td>
<td>Team    Jailbait</td>
<td>babe</td>
<td>3</td>
<td>3</td>
<td>87</td>
</tr>
<tr>
<td>27</td>
<td>Even    Captain Of Titanic Said</td>
<td>LaG</td>
<td>3</td>
<td>3</td>
<td>196</td>
</tr>
<tr>
<td>28</td>
<td>Too    Tired To Play</td>
<td>yawn</td>
<td>3</td>
<td>3</td>
<td>42</td>
</tr>
<tr>
<td>29</td>
<td>On    Est Des Gros Lions</td>
<td>rawr</td>
<td>3</td>
<td>3</td>
<td>216</td>
</tr>
<tr>
<td>30</td>
<td>Jump    In And Find</td>
<td>out</td>
<td>3</td>
<td>3</td>
<td>524</td>
</tr>
<tr>
<td>31</td>
<td>Serious    Gamers</td>
<td>srs</td>
<td>3</td>
<td>3</td>
<td>57</td>
</tr>
<tr>
<td>32</td>
<td>Russisches    Quellwasser Vod</td>
<td>ka</td>
<td>3</td>
<td>3</td>
<td>79</td>
</tr>
<tr>
<td>33</td>
<td>You    Rule We</td>
<td>sux</td>
<td>3</td>
<td>3</td>
<td>236</td>
</tr>
<tr>
<td>34</td>
<td>Ministry    Of Death Hun</td>
<td>MoD</td>
<td>3</td>
<td>3</td>
<td>598</td>
</tr>
<tr>
<td>35</td>
<td>&#26376;&#33457; </td>
<td>&#26376;&#33457;</td>
<td>3</td>
<td>3</td>
<td>138</td>
</tr>
<tr>
<td>36</td>
<td>Pathetic    Heroes</td>
<td>pH</td>
<td>2</td>
<td>4</td>
<td>175</td>
</tr>
<tr>
<td>37</td>
<td>U    N D E R R A T E D</td>
<td>uR</td>
<td>2</td>
<td>4</td>
<td>426</td>
</tr>
<tr>
<td>38</td>
<td>Striking    Distance</td>
<td>sD</td>
<td>2</td>
<td>4</td>
<td>109</td>
</tr>
<tr>
<td>39</td>
<td>Six    Feet Under You</td>
<td>SiFu</td>
<td>2</td>
<td>4</td>
<td>355</td>
</tr>
<tr>
<td>40</td>
<td>Tig    Bitties</td>
<td>MILK</td>
<td>2</td>
<td>4</td>
<td>188</td>
</tr>
<tr>
<td>41</td>
<td>Legion    Of Libyans</td>
<td>LoL</td>
<td>2</td>
<td>4</td>
<td>234</td>
</tr>
<tr>
<td>42</td>
<td>No    Official Argument</td>
<td>NoA</td>
<td>1</td>
<td>4</td>
<td>386</td>
</tr>
<tr>
<td>43</td>
<td>Murderous    Klick</td>
<td>MK</td>
<td>2</td>
<td>4</td>
<td>267</td>
</tr>
<tr>
<td>44</td>
<td>Pshyco    Ninjas</td>
<td>oGod</td>
<td>2</td>
<td>4</td>
<td>498</td>
</tr>
<tr>
<td>45</td>
<td>Super    Kaon Action Team</td>
<td>Ban</td>
<td>2</td>
<td>4</td>
<td>64</td>
</tr>
<tr>
<td>46</td>
<td>Unbalanced    Team</td>
<td>uT</td>
<td>1</td>
<td>4</td>
<td>633</td>
</tr>
<tr>
<td>47</td>
<td>Treacherous    Formation</td>
<td>tF</td>
<td>2</td>
<td>4</td>
<td>241</td>
</tr>
<tr>
<td>48</td>
<td>Kga    Geen Mongol Stompe Jongen</td>
<td>KO</td>
<td>1</td>
<td>5</td>
<td>350</td>
</tr>
<tr>
<td>49</td>
<td>Plug    In Baby</td>
<td>PnP</td>
<td>1</td>
<td>5</td>
<td>431</td>
</tr>
<tr>
<td>50</td>
<td>Old    Time Good Time</td>
<td>&#12420;&#12512;&#12385;&#12379;</td>
<td>1</td>
<td>5</td>
<td>397</td>
</tr>
<tr>
<td>51</td>
<td>The    Bouncers</td>
<td>BcS</td>
<td>1</td>
<td>4</td>
<td>275</td>
</tr>
<tr>
<td>52</td>
<td>Serious    Sin</td>
<td>SiN</td>
<td>0</td>
<td>0</td>
<td>44</td>
</tr>
<tr>
<td>53</td>
<td>S3xy    &#54168;bers</td>
<td>S&#53944;Xy</td>
<td>0</td>
<td>2</td>
<td>250</td>
</tr>
<tr>
<td>54</td>
<td>Lux    Et Veritas Cultura</td>
<td>yale</td>
<td>0</td>
<td>6</td>
<td>1662</td>
</tr>
