<tr>
<td>1</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>4</td>
<td>0</td>
<td>6</td>
</tr>
<tr>
<td>2</td>
<td>For    Lack Of A Better Name</td>
<td>sup</td>
<td>3</td>
<td>1</td>
<td>5</td>
</tr>
<tr>
<td>3</td>
<td>Young    Money Merger</td>
<td>YM</td>
<td>2</td>
<td>1</td>
<td>3</td>
</tr>
<tr>
<td>4</td>
<td>Parcie    Na Szklo</td>
<td>Trim</td>
<td>2</td>
<td>1</td>
<td>15</td>
</tr>
<tr>
<td>5</td>
<td>Vent    Rage</td>
<td>vR</td>
<td>1</td>
<td>1</td>
<td>8</td>
</tr>
<tr>
<td>6</td>
<td>Dangerous    Pumpkins</td>
<td>dP</td>
<td>1</td>
<td>1</td>
<td>10</td>
</tr>
<tr>
<td>7</td>
<td>The    Stonebenders Of Sanctum Cay</td>
<td>sC</td>
<td>1</td>
<td>1</td>
<td>25</td>
</tr>
<tr>
<td>8</td>
<td>I    Usual Suspects I</td>
<td>uS</td>
<td>1</td>
<td>1</td>
<td>46</td>
</tr>
<tr>
<td>9</td>
<td>Amateur    Norn</td>
<td>Bare</td>
<td>0</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>10</td>
<td>Husaria    Pol</td>
<td>HSR</td>
<td>0</td>
<td>1</td>
<td>55</td>
</tr>
<tr>
<td>11</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>0</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>12</td>
<td>Old    N Dirty</td>
<td>ym</td>
<td>0</td>
<td>1</td>
<td>28</td>
</tr>
<tr>
<td>13</td>
<td>Men    Of Substance</td>
<td>YMCA</td>
<td>0</td>
<td>1</td>
<td>21</td>
</tr>
<tr>
<td>14</td>
<td>Nespresso    What</td>
<td>Else</td>
<td>0</td>
<td>1</td>
<td>23</td>
</tr>
<tr>
<td>15</td>
<td>Get    Good</td>
<td>GG</td>
<td>0</td>
<td>1</td>
<td>38</td>
</tr>
<tr>
<td>16</td>
<td>Une    Bande De Mecs Sympa</td>
<td>MeSy</td>
<td>0</td>
<td>1</td>
<td>88</td>
</tr>
