<tr>
<td>1</td><td>Rebel Rising</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12</td>
<td>1</td>
</tr>
<tr>
<td>2</td><td>Seppo Hovi Action Team</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9</td>
<td>30</td>
</tr>
<tr>
<td>3</td><td>Fette Wammos Braucht Das</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>67</td>
</tr>
<tr>
<td>4</td><td>Dangerous Pumpkins</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>35</td>
</tr>
<tr>
<td>5</td><td>On Ne Plaisant Pas Avec Patrons</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>23</td>
</tr>
<tr>
<td>6</td><td>Charming Drama</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>43</td>
</tr>
<tr>
<td>7</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>7</td>
</tr>
<tr>
<td>8</td><td>One Build Wonder</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>15</td>
</tr>
<tr>
<td>9</td><td>Gone In Sixty Seconds</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>33</td>
</tr>
<tr>
<td>10</td><td>Team Chaos Theory</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>50</td>
</tr>
<tr>
<td>11</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>10</td>
</tr>
<tr>
<td>12</td><td>No Honor</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>20</td>
</tr>
<tr>
<td>13</td><td>Steel Phoenix</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>16</td>
</tr>
<tr>
<td>14</td><td>Anonymous Amateurs</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>31</td>
</tr>
<tr>
<td>15</td><td>Survival Rate</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>45</td>
</tr>
<tr>
<td>16</td><td>Beyond The Gates Of Infinity</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>255</td>
</tr>
