<tr>
<td>1</td>
<td>Anonymous    Amateurs</td>
<td>AA</td>
<td>4</td>
<td>0</td>
<td>5</td>
</tr>
<tr>
<td>2</td>
<td>Serious    Gamers</td>
<td>srs</td>
<td>3</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>3</td>
<td>Get    Quaked</td>
<td>NJoY</td>
<td>2</td>
<td>1</td>
<td>20</td>
</tr>
<tr>
<td>4</td>
<td>Serious    Pokemon Gamers</td>
<td>PkMn</td>
<td>2</td>
<td>1</td>
<td>61</td>
</tr>
<tr>
<td>5</td>
<td>Husaria    Pol</td>
<td>HSR</td>
<td>1</td>
<td>1</td>
<td>165</td>
</tr>
<tr>
<td>6</td>
<td>Galileo    Mystery</td>
<td>Team</td>
<td>1</td>
<td>1</td>
<td>15</td>
</tr>
<tr>
<td>7</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>1</td>
<td>1</td>
<td>10</td>
</tr>
<tr>
<td>8</td>
<td>Get    Good</td>
<td>GG</td>
<td>1</td>
<td>1</td>
<td>80</td>
</tr>
<tr>
<td>9</td>
<td>A    Little Less Conversation</td>
<td>QQ</td>
<td>0</td>
<td>1</td>
<td>13</td>
</tr>
<tr>
<td>10</td>
<td>Even    Captain Of Titanic Said</td>
<td>LaG</td>
<td>0</td>
<td>1</td>
<td>17</td>
</tr>
<tr>
<td>11</td>
<td>High    Ping Victims</td>
<td>FFS</td>
<td>0</td>
<td>1</td>
<td>8</td>
</tr>
<tr>
<td>12</td>
<td>Perma    Sauna</td>
<td>brb</td>
<td>0</td>
<td>1</td>
<td>31</td>
</tr>
<tr>
<td>13</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>0</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td>14</td>
<td>The    Battle Bakery</td>
<td>vPie</td>
<td>0</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>15</td>
<td>Team    Chaos Theory</td>
<td>hent</td>
<td>0</td>
<td>1</td>
<td>24</td>
</tr>
<tr>
<td>16</td>
<td>Be    Team</td>
<td>be</td>
<td>0</td>
<td>1</td>
<td>55</td>
</tr>
