<tr>
<td>1</td>
<td>Galileo    Mystery</td>
<td>Team</td>
<td>1</td>
<td>0</td>
<td>15</td>
</tr>
<tr>
<td>2</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>0</td>
<td>1</td>
<td>4</td>
</tr>
<tr>
<td>3</td>
<td>Even    Captain Of Titanic Said</td>
<td>LaG</td>
<td>0</td>
<td>1</td>
<td>17</td>
</tr>
<tr>
<td>4</td>
<td>A    Little Less Conversation</td>
<td>QQ</td>
<td>0</td>
<td>1</td>
<td>13</td>
</tr>
<tr>
<td>5</td>
<td>Perma    Sauna</td>
<td>brb</td>
<td>0</td>
<td>1</td>
<td>31</td>
</tr>
<tr>
<td>6</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>1</td>
<td>0</td>
<td>10</td>
</tr>
<tr>
<td>7</td>
<td>The    Battle Bakery</td>
<td>vPie</td>
<td>0</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>8</td>
<td>High    Ping Victims</td>
<td>FFS</td>
<td>0</td>
<td>1</td>
<td>8</td>
</tr>
<tr>
<td>9</td>
<td>Get    Quaked</td>
<td>NJoY</td>
<td>1</td>
<td>0</td>
<td>20</td>
</tr>
<tr>
<td>10</td>
<td>Get    Good</td>
<td>GG</td>
<td>1</td>
<td>0</td>
<td>80</td>
</tr>
<tr>
<td>11</td>
<td>Be    Team</td>
<td>be</td>
<td>0</td>
<td>1</td>
<td>55</td>
</tr>
<tr>
<td>12</td>
<td>Serious    Pokemon Gamers</td>
<td>PkMn</td>
<td>1</td>
<td>0</td>
<td>61</td>
</tr>
<tr>
<td>13</td>
<td>Anonymous    Amateurs</td>
<td>AA</td>
<td>1</td>
<td>0</td>
<td>5</td>
</tr>
<tr>
<td>14</td>
<td>Serious    Gamers</td>
<td>srs</td>
<td>1</td>
<td>0</td>
<td>9</td>
</tr>
<tr>
<td>15</td>
<td>Husaria    Pol</td>
<td>HSR</td>
<td>1</td>
<td>0</td>
<td>165</td>
</tr>
<tr>
<td>16</td>
<td>Team    Chaos Theory</td>
<td>hent</td>
<td>0</td>
<td>1</td>
<td>24</td>
</tr>
<tr>
<td>17</td>
<td>Tortuga    Bay</td>
<td>Grog</td>
<td>3</td>
<td>3</td>
<td>74</td>
</tr>
<tr>
<td>18</td>
<td>No    Cookies Left</td>
<td>NOW</td>
<td>3</td>
<td>3</td>
<td>33</td>
</tr>
<tr>
<td>19</td>
<td>Young    Money Merger</td>
<td>YM</td>
<td>3</td>
<td>3</td>
<td>46</td>
</tr>
<tr>
<td>20</td>
<td>Cookie    Rehab Clinic</td>
<td>LAME</td>
<td>3</td>
<td>1</td>
<td>175</td>
</tr>
<tr>
<td>21</td>
<td>Serious    Sin</td>
<td>SiN</td>
<td>3</td>
<td>3</td>
<td>95</td>
</tr>
<tr>
<td>22</td>
<td>The    Bouncers</td>
<td>BcS</td>
<td>3</td>
<td>3</td>
<td>118</td>
</tr>
<tr>
<td>23</td>
<td>Amazing    Strength</td>
<td>aS</td>
<td>3</td>
<td>3</td>
<td>23</td>
</tr>
<tr>
<td>24</td>
<td>Hardcore    Slayers</td>
<td>HARD</td>
<td>3</td>
<td>3</td>
<td>26</td>
</tr>
<tr>
<td>25</td>
<td>Give    Up Already</td>
<td>dp</td>
<td>3</td>
<td>3</td>
<td>53</td>
</tr>
<tr>
<td>26</td>
<td>Mens    Sana In Corpore Sano</td>
<td>mind</td>
<td>3</td>
<td>3</td>
<td>266</td>
</tr>
<tr>
<td>27</td>
<td>Ich    Wohn Ab Jetzt Hier</td>
<td>IgeL</td>
<td>3</td>
<td>3</td>
<td>324</td>
</tr>
<tr>
<td>28</td>
<td>The    Myrmidons Of Tyria</td>
<td>myrm</td>
<td>3</td>
<td>3</td>
<td>22</td>
</tr>
<tr>
<td>29</td>
<td>Here    Goes Nothing</td>
<td>Gogo</td>
<td>3</td>
<td>3</td>
<td>257</td>
</tr>
<tr>
<td>30</td>
<td>Piken    Square</td>
<td>ps</td>
<td>3</td>
<td>3</td>
<td>94</td>
</tr>
<tr>
<td>31</td>
<td>Pathetic    Heroes</td>
<td>pH</td>
<td>2</td>
<td>4</td>
<td>129</td>
</tr>
<tr>
<td>32</td>
<td>Fallit    Imago</td>
<td>Fi</td>
<td>2</td>
<td>4</td>
<td>81</td>
</tr>
<tr>
<td>33</td>
<td>Pshyco    Ninjas</td>
<td>oGod</td>
<td>1</td>
<td>4</td>
<td>408</td>
</tr>
<tr>
<td>34</td>
<td>Val    De Marne B S L</td>
<td>ZoO</td>
<td>2</td>
<td>4</td>
<td>107</td>
</tr>
<tr>
<td>35</td>
<td>No    Official Argument</td>
<td>NoA</td>
<td>2</td>
<td>4</td>
<td>221</td>
</tr>
<tr>
<td>36</td>
<td>Maenner    Ohne Wirkliches Leben</td>
<td>mOwl</td>
<td>2</td>
<td>4</td>
<td>174</td>
</tr>
<tr>
<td>37</td>
<td>We    Count Corpses</td>
<td>wcc</td>
<td>2</td>
<td>4</td>
<td>292</td>
</tr>
<tr>
<td>38</td>
<td>Brutel    Mera And Pena</td>
<td>eluv</td>
<td>2</td>
<td>4</td>
<td>297</td>
</tr>
<tr>
<td>39</td>
<td>Il    Unholy Warcry Il</td>
<td>Cry</td>
<td>2</td>
<td>4</td>
<td>407</td>
</tr>
<tr>
<td>40</td>
<td>Bugs    Lags D C And Error</td>
<td>OO&#23376;</td>
<td>0</td>
<td>5</td>
<td>329</td>
</tr>
<tr>
<td>41</td>
<td>Il    Il Illl I I I Illl Ill Ill I</td>
<td>puti</td>
<td>1</td>
<td>5</td>
<td>347</td>
</tr>
<tr>
<td>42</td>
<td>Casual    Love</td>
<td>kiSu</td>
<td>1</td>
<td>5</td>
<td>560</td>
</tr>
<tr>
<td>43</td>
<td>Shawty    Whats Up</td>
<td>nmu</td>
<td>1</td>
<td>3</td>
<td>267</td>
</tr>
<tr>
<td>44</td>
<td>Vent    Rage</td>
<td>vR</td>
<td>0</td>
<td>3</td>
<td>182</td>
</tr>
<tr>
<td>45</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>0</td>
<td>1</td>
<td>160</td>
</tr>
<tr>
<td>46</td>
<td>Holy    Strike</td>
<td>hS</td>
<td>0</td>
<td>0</td>
<td>385</td>
</tr>
<tr>
<td>47</td>
<td>Fails    Under Continuous Testing</td>
<td>FUCT</td>
<td>0</td>
<td>1</td>
<td>294</td>
</tr>
<tr>
<td>48</td>
<td>One    Last Time</td>
<td>Bang</td>
<td>0</td>
<td>0</td>
<td>268</td>
</tr>
