<section class="py-13 py-lg-15 vh-75" id="content">
    <div class="bg-primary bg-image bg-cover overlay overlay-primary overlay-70" data-jarallax data-speed=".8" style="background-image: url(/assets/images/photos/photo-59.jpg);">
        <div class="container h-100">
            <div class="row align-items-center h-100 text-white" data-aos="fade-down">
                <div class="col">
                    <h1 class="display-2 mb-5">GWRank</h1>
                    <% if current_player %>
                      Welcome <%= current_player.username %>
                      <%= link_to 'Sign out', destroy_player_session_path, method: :delete, class: 'float-right btn btn-secondary text-uppercase d-inline-flex align-items-center' %>
                    <% else %>
                      <%= link_to 'Reserve your spot with Discord', omniauth_authorize_path(:player, :discord), class: 'btn btn-secondary text-uppercase d-inline-flex align-items-center' %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary py-6 py-lg-7 text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h2 class="h3">What is GWRank?</h2>
            </div>
            <div class="col-lg font-size-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et lacus mollis, maximus metus vel, egestas nisl. Praesent neque lorem, luctus non metus id, finibus fermentum velit.</p>
                <p>Quisque lobortis nisi et efficitur sollicitudin. Fusce dapibus, sem sed posuere sollicitudin, dui tellus aliquam augue, et aliquam sem justo sodales eros. Donec consequat aliquet quam, quis molestie enim porttitor quis.</p>
                <iframe src="https://discord.com/widget?id=788820055029973045&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
            </div>
        </div>
    </div>
</section>
