<tr>
<td>1</td><td>We Want Cookies</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12</td>
<td>13</td>
</tr>
<tr>
<td>2</td><td>The Cape Is A Lie</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9</td>
<td>18</td>
</tr>
<tr>
<td>3</td><td>Whats Going On</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>5</td>
</tr>
<tr>
<td>4</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>4</td>
</tr>
<tr>
<td>5</td><td>Stealing Society</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>6</td>
</tr>
<tr>
<td>6</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>1</td>
</tr>
<tr>
<td>7</td><td>Steel Phoenix</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>12</td>
</tr>
<tr>
<td>8</td><td>Pandas For World Domination</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>22</td>
</tr>
<tr>
<td>9</td><td>Dangerous Pumpkins</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>27</td>
</tr>
<tr>
<td>10</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>14</td>
</tr>
<tr>
<td>11</td><td>The Evernight</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>32</td>
</tr>
<tr>
<td>12</td><td>The Laxandor</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>56</td>
</tr>
<tr>
<td>13</td><td>Coloring Book</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>36</td>
</tr>
<tr>
<td>14</td><td>More Finns More</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>46</td>
</tr>
<tr>
<td>15</td><td>Goldcape Or Ragequit</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>51</td>
</tr>
<tr>
<td>16</td><td>Big Bomb</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>84</td>
</tr>
