<tr>
<td>1</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>6</td>
<td>0</td>
<td>18</td>
<td>1</td>
</tr>
<tr>
<td>2</td><td>Stealing Society</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15</td>
<td>6</td>
</tr>
<tr>
<td>3</td><td>The Cape Is A Lie</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15</td>
<td>18</td>
</tr>
<tr>
<td>4</td><td>Dangerous Pumpkins</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15</td>
<td>27</td>
</tr>
<tr>
<td>5</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15</td>
<td>4</td>
</tr>
<tr>
<td>6</td><td>Pandas For World Domination</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15</td>
<td>22</td>
</tr>
<tr>
<td>7</td><td>Coloring Book</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>36</td>
</tr>
<tr>
<td>8</td><td>Whats Going On</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>5</td>
</tr>
<tr>
<td>9</td><td>The Evernight</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>32</td>
</tr>
<tr>
<td>10</td><td>Steel Phoenix</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>12</td>
</tr>
<tr>
<td>11</td><td>More Finns More</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>46</td>
</tr>
<tr>
<td>12</td><td>The Laxandor</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>56</td>
</tr>
<tr>
<td>13</td><td>We Want Cookies</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>13</td>
</tr>
<tr>
<td>14</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>14</td>
</tr>
<tr>
<td>15</td><td>Big Bomb</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>84</td>
</tr>
<tr>
<td>16</td><td>Goldcape Or Ragequit</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>51</td>
</tr>
<tr>
<td>17</td><td>Team Paradigm</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>20</td>
</tr>
<tr>
<td>18</td><td>Dangerous And Moving</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>15</td>
</tr>
<tr>
<td>19</td><td>Team Wesh</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12</td>
<td>76</td>
</tr>
<tr>
<td>20</td><td>Yunaited Spirits</td>
<td>Done</td>
<td>3</td>
<td>2</td>
<td>10</td>
<td>312</td>
</tr>
<tr>
<td>21</td><td>Team Chaos Theory</td>
<td>Done</td>
<td>3</td>
<td>2</td>
<td>10</td>
<td>214</td>
</tr>
<tr>
<td>22</td><td>Virtual Escape</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>16</td>
</tr>
<tr>
<td>23</td><td>Diablo Ill</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>262</td>
</tr>
<tr>
<td>24</td><td>Anonymous Amateurs</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>25</td>
</tr>
<tr>
<td>25</td><td>No Gutz No Glory</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>142</td>
</tr>
<tr>
<td>26</td><td>Fish Sphere</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>64</td>
</tr>
<tr>
<td>27</td><td>My Pick Up Is</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>74</td>
</tr>
<tr>
<td>28</td><td>Apprime Above Everything</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>71</td>
</tr>
<tr>
<td>29</td><td>Supernova Jpn</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>43</td>
</tr>
<tr>
<td>30</td><td>Ultraviolet Dream</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>82</td>
</tr>
<tr>
<td>31</td><td>Real Teazer</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>30</td>
</tr>
<tr>
<td>32</td><td>Baaaaalls Of Steel</td>
<td>Done</td>
<td>2</td>
<td>3</td>
<td>9</td>
<td>148</td>
</tr>
<tr>
<td>33</td><td>Honor Police</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>169</td>
</tr>
<tr>
<td>34</td><td>Serious Sin</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>267</td>
</tr>
<tr>
<td>35</td><td>月花</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9</td>
<td>283</td>
</tr>
<tr>
<td>36</td><td>Witness Of Destiny</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>39</td>
</tr>
<tr>
<td>37</td><td>Avec Malus Et Nonchalance</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>213</td>
</tr>
<tr>
<td>38</td><td>Americas Last Stand</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>631</td>
</tr>
<tr>
<td>39</td><td>Der Weg Zum Ruhm</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>205</td>
</tr>
<tr>
<td>40</td><td>Sun Tzu Legacy</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>263</td>
</tr>
<tr>
<td>41</td><td>Darkest Forces</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>327</td>
</tr>
<tr>
<td>42</td><td>Bambi Division</td>
<td>Done</td>
<td>1</td>
<td>4</td>
<td>6</td>
<td>2647</td>
</tr>
<tr>
<td>43</td><td>Jolly Lolly</td>
<td>Done</td>
<td>1</td>
<td>4</td>
<td>6</td>
<td>242</td>
</tr>
<tr>
<td>44</td><td>Respected For</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>519</td>
</tr>
<tr>
<td>45</td><td>Doms Soldiers</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>210</td>
</tr>
<tr>
<td>46</td><td>Schwein Incomming</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>532</td>
</tr>
<tr>
<td>47</td><td>We Count Corpses</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6</td>
<td>385</td>
</tr>
<tr>
<td>48</td><td>Blitz Tactics</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3</td>
<td>59</td>
</tr>
<tr>
<td>49</td><td>Code Geass F T W</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>3</td>
<td>876</td>
</tr>
<tr>
<td>50</td><td>Gummi Bears Ftw</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3</td>
<td>3119</td>
</tr>
<tr>
<td>51</td><td>Elephant Eyelash</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>97</td>
</tr>
<tr>
<td>52</td><td>Sup B R A Its David The Hammer</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>311</td>
</tr>
<tr>
<td>53</td><td>Your Mom Is My Epic Mount</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>1003</td>
</tr>
<tr>
<td>54</td><td>Vent Rage</td>
<td>Forfeit</td>
<td>0</td>
<td>4</td>
<td>0</td>
<td>171</td>
</tr>
<tr>
<td>55</td><td>The Blackhorn</td>
<td>Forfeit</td>
<td>0</td>
<td>2</td>
<td>0</td>
<td>3352</td>
</tr>
<tr>
<td>56</td><td>A History Of Violence</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0</td>
<td>632</td>
</tr>
