<tr>
<td>1</td><td>Esoteric Warriors</td>
<td>Done</td>
<td>6</td>
<td>0</td>
<td>18.51</td>
<td>2</td>
</tr>
<tr>
<td>2</td><td>Pastel Drawing</td>
<td>Done</td>
<td>4</td>
<td>1</td>
<td>15.532</td>
<td>18</td>
</tr>
<tr>
<td>3</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.501</td>
<td>12</td>
</tr>
<tr>
<td>4</td><td>Noob Gladiators</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.501</td>
<td>15</td>
</tr>
<tr>
<td>5</td><td>Mistral Edge</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.477</td>
<td>26</td>
</tr>
<tr>
<td>6</td><td>Rebel Rising</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.336</td>
<td>7</td>
</tr>
<tr>
<td>7</td><td>The Seven Spears Of Shizugatake</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.453</td>
<td>38</td>
</tr>
<tr>
<td>8</td><td>Dark Alley</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.394</td>
<td>1</td>
</tr>
<tr>
<td>9</td><td>Whats Going On</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.386</td>
<td>3</td>
</tr>
<tr>
<td>10</td><td>Supernova Jpn</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.385</td>
<td>27</td>
</tr>
<tr>
<td>11</td><td>Steel Phoenix</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.352</td>
<td>23</td>
</tr>
<tr>
<td>12</td><td>Deadly Scorpions</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.352</td>
<td>243</td>
</tr>
<tr>
<td>13</td><td>Stealing Society</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.326</td>
<td>6</td>
</tr>
<tr>
<td>14</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.294</td>
<td>20</td>
</tr>
<tr>
<td>15</td><td>Virtual Escape</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.261</td>
<td>40</td>
</tr>
<tr>
<td>16</td><td>Shaq In Wonderland Oh</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.253</td>
<td>13</td>
</tr>
<tr>
<td>17</td><td>Pff We Are In</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.245</td>
<td>42</td>
</tr>
<tr>
<td>18</td><td>Newbs On Tour</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.212</td>
<td>22</td>
</tr>
<tr>
<td>19</td><td>Witness Of Destiny</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.418</td>
<td>62</td>
</tr>
<tr>
<td>20</td><td>Torrential Carnage</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.403</td>
<td>87</td>
</tr>
<tr>
<td>21</td><td>Dei Victorae</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.377</td>
<td>17</td>
</tr>
<tr>
<td>22</td><td>Charr Siege Investigation</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.367</td>
<td>125</td>
</tr>
<tr>
<td>23</td><td>Ecnegilletni Laicifitra</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.326</td>
<td>170</td>
</tr>
<tr>
<td>24</td><td>Monkey Island</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.318</td>
<td>335</td>
</tr>
<tr>
<td>25</td><td>Silent Hunters</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>9.272</td>
<td>113</td>
</tr>
<tr>
<td>26</td><td>Team Apathy</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.26</td>
<td>49</td>
</tr>
<tr>
<td>27</td><td>World Of Charrcraft</td>
<td>Done</td>
<td>3</td>
<td>2</td>
<td>9.252</td>
<td>25</td>
</tr>
<tr>
<td>28</td><td>We Love Frenzy At</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.252</td>
<td>95</td>
</tr>
<tr>
<td>29</td><td>Red Basilica</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.235</td>
<td>116</td>
</tr>
<tr>
<td>30</td><td>Above Average</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.229</td>
<td>68</td>
</tr>
<tr>
<td>31</td><td>Twinkle Twinkle Little</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.128</td>
<td>264</td>
</tr>
<tr>
<td>32</td><td>Dagnar Kills Rurik</td>
<td>Done</td>
<td>2</td>
<td>3</td>
<td>6.376</td>
<td>856</td>
</tr>
<tr>
<td>33</td><td>Team Paradigm</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.334</td>
<td>66</td>
</tr>
<tr>
<td>34</td><td>Freak Fighters</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.319</td>
<td>3590</td>
</tr>
<tr>
<td>35</td><td>Make Love Not Gild Wars</td>
<td>Done</td>
<td>2</td>
<td>2</td>
<td>6.318</td>
<td>204</td>
</tr>
<tr>
<td>36</td><td>Hobby Horse</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.312</td>
<td>67</td>
</tr>
<tr>
<td>37</td><td>Scary Vibrations</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.311</td>
<td>134</td>
</tr>
<tr>
<td>38</td><td>Will Always Negate Damage</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.252</td>
<td>211</td>
</tr>
<tr>
<td>39</td><td>Blitz Tactics</td>
<td>Done</td>
<td>2</td>
<td>3</td>
<td>6.25</td>
<td>192</td>
</tr>
<tr>
<td>40</td><td>Virtual Failures</td>
<td>Done</td>
<td>2</td>
<td>2</td>
<td>6.228</td>
<td>201</td>
</tr>
<tr>
<td>41</td><td>The Myrmidons Of Tyria</td>
<td>Done</td>
<td>2</td>
<td>3</td>
<td>6.203</td>
<td>199</td>
</tr>
<tr>
<td>42</td><td>Slow Cerebrum</td>
<td>Forfeit</td>
<td>2</td>
<td>1</td>
<td>6.178</td>
<td>76</td>
</tr>
<tr>
<td>43</td><td>Sleeping Forests</td>
<td>Done</td>
<td>2</td>
<td>3</td>
<td>6.127</td>
<td>175</td>
</tr>
<tr>
<td>44</td><td>Its Just A Dream Baby</td>
<td>Done</td>
<td>2</td>
<td>3</td>
<td>6.102</td>
<td>302</td>
</tr>
<tr>
<td>45</td><td>Uncommon Valour</td>
<td>Done</td>
<td>2</td>
<td>3</td>
<td>6.086</td>
<td>231</td>
</tr>
<tr>
<td>46</td><td>Our Ghostly Is A Roxxor</td>
<td>Done</td>
<td>0</td>
<td>3</td>
<td>3.284</td>
<td>102</td>
</tr>
<tr>
<td>47</td><td>Auditory Illusion</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>3.228</td>
<td>336</td>
</tr>
<tr>
<td>48</td><td>Anonymous Amateurs</td>
<td>Forfeit</td>
<td>1</td>
<td>0</td>
<td>3.223</td>
<td>54</td>
</tr>
<tr>
<td>49</td><td>Vandal Hearts</td>
<td>Done</td>
<td>0</td>
<td>4</td>
<td>3.173</td>
<td>371</td>
</tr>
<tr>
<td>50</td><td>Blood Spike</td>
<td>Done</td>
<td>1</td>
<td>3</td>
<td>3.143</td>
<td>4015</td>
</tr>
<tr>
<td>51</td><td>Seppo Hovi Action Team</td>
<td>Done</td>
<td>1</td>
<td>3</td>
<td>3.126</td>
<td>31</td>
</tr>
<tr>
<td>52</td><td>Frog Union</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>3.121</td>
<td>96</td>
</tr>
<tr>
<td>53</td><td>Dont Try This At Home</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>3.102</td>
<td>301</td>
</tr>
<tr>
<td>54</td><td>La Divina Commedia</td>
<td>Forfeit</td>
<td>0</td>
<td>1</td>
<td>0.602</td>
<td>943</td>
</tr>
<tr>
<td>55</td><td>Straight Forward</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.403</td>
<td>34</td>
</tr>
<tr>
<td>56</td><td>Dont Mess With The Don</td>
<td>Forfeit</td>
<td>0</td>
<td>2</td>
<td>0.251</td>
<td>21</td>
</tr>
<tr>
<td>57</td><td>C A P I T A L I S M</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.25</td>
<td>44</td>
</tr>
<tr>
<td>58</td><td>Rise Of Shadow Prison Assassins</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0.201</td>
<td>517</td>
</tr>
<tr>
<td>59</td><td>Revive Teammates</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0.189</td>
<td>39</td>
</tr>
<tr>
<td>60</td><td>Heart Of Ashes And Dust</td>
<td>Forfeit</td>
<td>0</td>
<td>1</td>
<td>0.167</td>
<td>112</td>
</tr>
<tr>
<td>61</td><td>I Will Take You To Pandaland</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.104</td>
<td>41</td>
</tr>
<tr>
<td>62</td><td>Honor And Strength</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>19</td>
</tr>
<tr>
<td>63</td><td>Douane Nationale Francaise</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>72</td>
</tr>
