<tr>
<td>1</td>
<td>Rebel    Rising Extended Edition</td>
<td>rawr</td>
<td>4</td>
<td>0</td>
<td>19</td>
</tr>
<tr>
<td>2</td>
<td>I    Disposable Heroes I</td>
<td>DirT</td>
<td>3</td>
<td>1</td>
<td>11</td>
</tr>
<tr>
<td>3</td>
<td>Stealing    Society</td>
<td>StS</td>
<td>2</td>
<td>1</td>
<td>16</td>
</tr>
<tr>
<td>4</td>
<td>Inadequately    Equipped</td>
<td>GeAr</td>
<td>2</td>
<td>1</td>
<td>18</td>
</tr>
<tr>
<td>5</td>
<td>The    Seven Spears Of Shizugatake</td>
<td>SSS</td>
<td>1</td>
<td>1</td>
<td>23</td>
</tr>
<tr>
<td>6</td>
<td>None    But Fools</td>
<td>nuts</td>
<td>1</td>
<td>1</td>
<td>24</td>
</tr>
<tr>
<td>7</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>1</td>
<td>1</td>
<td>6</td>
</tr>
<tr>
<td>8</td>
<td>History    Repeats Itself</td>
<td>Cry</td>
<td>1</td>
<td>1</td>
<td>7</td>
</tr>
<tr>
<td>9</td>
<td>Random    Euro Trash</td>
<td>qft</td>
<td>0</td>
<td>1</td>
<td>93</td>
</tr>
<tr>
<td>10</td>
<td>The    Myrmidons Of Tyria</td>
<td>myrm</td>
<td>0</td>
<td>1</td>
<td>86</td>
</tr>
<tr>
<td>11</td>
<td>Little    Champions Season Finale</td>
<td>vR</td>
<td>0</td>
<td>1</td>
<td>29</td>
</tr>
<tr>
<td>12</td>
<td>The    Valium Knights</td>
<td>Vk</td>
<td>0</td>
<td>1</td>
<td>50</td>
</tr>
<tr>
<td>13</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>0</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>14</td>
<td>Guild    Down</td>
<td>PZZZ</td>
<td>0</td>
<td>1</td>
<td>53</td>
</tr>
<tr>
<td>15</td>
<td>Rage    Team</td>
<td>rT</td>
<td>0</td>
<td>1</td>
<td>170</td>
</tr>
<tr>
<td>16</td>
<td>Hoser    Down</td>
<td>HD</td>
<td>0</td>
<td>1</td>
<td>292</td>
</tr>
