<tr>
<td>1</td>
<td>Rebel    Rising Extended Edition</td>
<td>rawr</td>
<td>1</td>
<td>0</td>
<td>19</td>
</tr>
<tr>
<td>2</td>
<td>History    Repeats Itself</td>
<td>Cry</td>
<td>1</td>
<td>0</td>
<td>7</td>
</tr>
<tr>
<td>3</td>
<td>Edible    Granite Pencil</td>
<td>yumy</td>
<td>0</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>4</td>
<td>Inadequately    Equipped</td>
<td>GeAr</td>
<td>1</td>
<td>0</td>
<td>18</td>
</tr>
<tr>
<td>5</td>
<td>Stealing    Society</td>
<td>StS</td>
<td>1</td>
<td>0</td>
<td>16</td>
</tr>
<tr>
<td>6</td>
<td>I    Disposable Heroes I</td>
<td>DirT</td>
<td>1</td>
<td>0</td>
<td>11</td>
</tr>
<tr>
<td>7</td>
<td>Guild    Down</td>
<td>PZZZ</td>
<td>0</td>
<td>1</td>
<td>53</td>
</tr>
<tr>
<td>8</td>
<td>None    But Fools</td>
<td>nuts</td>
<td>1</td>
<td>0</td>
<td>24</td>
</tr>
<tr>
<td>9</td>
<td>Hoser    Down</td>
<td>HD</td>
<td>0</td>
<td>1</td>
<td>292</td>
</tr>
<tr>
<td>10</td>
<td>Whats    Going On</td>
<td>sup</td>
<td>1</td>
<td>0</td>
<td>6</td>
</tr>
<tr>
<td>11</td>
<td>The    Myrmidons Of Tyria</td>
<td>myrm</td>
<td>0</td>
<td>1</td>
<td>86</td>
</tr>
<tr>
<td>12</td>
<td>Little    Champions Season Finale</td>
<td>vR</td>
<td>0</td>
<td>1</td>
<td>29</td>
</tr>
<tr>
<td>13</td>
<td>The    Valium Knights</td>
<td>Vk</td>
<td>0</td>
<td>1</td>
<td>50</td>
</tr>
<tr>
<td>14</td>
<td>The    Seven Spears Of Shizugatake</td>
<td>SSS</td>
<td>1</td>
<td>0</td>
<td>23</td>
</tr>
<tr>
<td>15</td>
<td>Rage    Team</td>
<td>rT</td>
<td>0</td>
<td>1</td>
<td>170</td>
</tr>
<tr>
<td>16</td>
<td>Random    Euro Trash</td>
<td>qft</td>
<td>0</td>
<td>1</td>
<td>93</td>
</tr>
<tr>
<td>17</td>
<td>Fallit    Imago</td>
<td>Fi</td>
<td>4</td>
<td>2</td>
<td>141</td>
</tr>
<tr>
<td>18</td>
<td>Under    Pressure</td>
<td>uP</td>
<td>4</td>
<td>2</td>
<td>12</td>
</tr>
<tr>
<td>19</td>
<td>Little    Bad Planet</td>
<td>GWII</td>
<td>4</td>
<td>2</td>
<td>225</td>
</tr>
<tr>
<td>20</td>
<td>Virtual    Escape</td>
<td>vE</td>
<td>3</td>
<td>3</td>
<td>20</td>
</tr>
<tr>
<td>21</td>
<td>Here    Goes Nothing</td>
<td>Gogo</td>
<td>3</td>
<td>3</td>
<td>232</td>
</tr>
<tr>
<td>22</td>
<td>Obsidian    Sun</td>
<td>OdS</td>
<td>3</td>
<td>3</td>
<td>117</td>
</tr>
<tr>
<td>23</td>
<td>High    Ping Victims</td>
<td>FFS</td>
<td>3</td>
<td>3</td>
<td>40</td>
</tr>
<tr>
<td>24</td>
<td>One    Hundred Kilograms Chicks</td>
<td>usa</td>
<td>3</td>
<td>3</td>
<td>44</td>
</tr>
<tr>
<td>25</td>
<td>Team    Virtual</td>
<td>tV</td>
<td>3</td>
<td>3</td>
<td>60</td>
</tr>
<tr>
<td>26</td>
<td>Nagas    Wlth Attitude</td>
<td>nWa</td>
<td>3</td>
<td>3</td>
<td>153</td>
</tr>
<tr>
<td>27</td>
<td>Let    Me Write It Down In My Care</td>
<td>Book</td>
<td>3</td>
<td>3</td>
<td>77</td>
</tr>
<tr>
<td>28</td>
<td>Silent    Hunters</td>
<td>SH</td>
<td>3</td>
<td>3</td>
<td>119</td>
</tr>
<tr>
<td>29</td>
<td>Strange    Players</td>
<td>sp</td>
<td>3</td>
<td>3</td>
<td>201</td>
</tr>
<tr>
<td>30</td>
<td>Unknown    Phenomenon</td>
<td>vK</td>
<td>3</td>
<td>3</td>
<td>41</td>
</tr>
<tr>
<td>31</td>
<td>Unknown    Playerz</td>
<td>oO</td>
<td>3</td>
<td>3</td>
<td>55</td>
</tr>
<tr>
<td>32</td>
<td>Vicious    Delicious</td>
<td>VD</td>
<td>3</td>
<td>3</td>
<td>80</td>
</tr>
<tr>
<td>33</td>
<td>Nerve    Impulse</td>
<td>nR</td>
<td>3</td>
<td>3</td>
<td>208</td>
</tr>
<tr>
<td>34</td>
<td>Maenner    Ohne Wirkliches Leben</td>
<td>mOwl</td>
<td>3</td>
<td>3</td>
<td>325</td>
</tr>
<tr>
<td>35</td>
<td>Men    Of Substance</td>
<td>YMCA</td>
<td>3</td>
<td>3</td>
<td>164</td>
</tr>
<tr>
<td>36</td>
<td>Anonymous    Amateurs</td>
<td>AA</td>
<td>3</td>
<td>3</td>
<td>17</td>
</tr>
<tr>
<td>37</td>
<td>K    E N T O S A U R U S</td>
<td>ReX</td>
<td>3</td>
<td>3</td>
<td>251</td>
</tr>
<tr>
<td>38</td>
<td>I    Wanna Be A S U P E R</td>
<td>STAR</td>
<td>1</td>
<td>4</td>
<td>344</td>
</tr>
<tr>
<td>39</td>
<td>Supernova    Jpn</td>
<td>SpNv</td>
<td>2</td>
<td>4</td>
<td>47</td>
</tr>
<tr>
<td>40</td>
<td>Underwater    Unicycle Crisis</td>
<td>zE</td>
<td>2</td>
<td>4</td>
<td>223</td>
</tr>
<tr>
<td>41</td>
<td>Invisible    Monsters</td>
<td>iM</td>
<td>2</td>
<td>4</td>
<td>203</td>
</tr>
<tr>
<td>42</td>
<td>Tombs    Is Srs Business</td>
<td>IWAY</td>
<td>1</td>
<td>4</td>
<td>197</td>
</tr>
<tr>
<td>43</td>
<td>Ich    Wohn Ab Jetzt Hier</td>
<td>IgeL</td>
<td>2</td>
<td>4</td>
<td>264</td>
</tr>
<tr>
<td>44</td>
<td>Euro    Split Lol</td>
<td>DP</td>
<td>2</td>
<td>4</td>
<td>265</td>
</tr>
<tr>
<td>45</td>
<td>Selective    Hearing</td>
<td>huh</td>
<td>2</td>
<td>4</td>
<td>275</td>
</tr>
<tr>
<td>46</td>
<td>Seven    Deadly Sinz</td>
<td>svn</td>
<td>2</td>
<td>4</td>
<td>252</td>
</tr>
<tr>
<td>47</td>
<td>Gniee    Guilde</td>
<td>GENI</td>
<td>2</td>
<td>4</td>
<td>100</td>
</tr>
<tr>
<td>48</td>
<td>Invalid    Spelltarget</td>
<td>fAiL</td>
<td>2</td>
<td>4</td>
<td>297</td>
</tr>
<tr>
<td>49</td>
<td>No    Official Argument</td>
<td>NoA</td>
<td>2</td>
<td>4</td>
<td>253</td>
</tr>
<tr>
<td>50</td>
<td>Adrenaline    Junkies</td>
<td>AxE</td>
<td>0</td>
<td>4</td>
<td>15</td>
</tr>
<tr>
<td>51</td>
<td>My    Name Is Yang</td>
<td>Yang</td>
<td>1</td>
<td>1</td>
<td>329</td>
</tr>
<tr>
<td>52</td>
<td>Legend    Will Never Die</td>
<td>TTF</td>
<td>1</td>
<td>5</td>
<td>268</td>
</tr>
<tr>
<td>53</td>
<td>Nine    Inch Veils</td>
<td>hex</td>
<td>1</td>
<td>5</td>
<td>219</td>
</tr>
<tr>
<td>54</td>
<td>Cookie    Rehab Clinic</td>
<td>LAME</td>
<td>1</td>
<td>5</td>
<td>429</td>
</tr>
<tr>
<td>55</td>
<td>Soldiers    Of Shadowsssssssssssss</td>
<td>ssss</td>
<td>0</td>
<td>2</td>
<td>260</td>
</tr>
<tr>
<td>56</td>
<td>Bear    F O R C E One</td>
<td>OuHa</td>
<td>0</td>
<td>4</td>
<td>214</td>
</tr>
<tr>
<td>57</td>
<td>Here    Comes The Guetto Mode</td>
<td>Ruff</td>
<td>0</td>
<td>1</td>
<td>2227</td>
</tr>
