<tr>
<td>1</td><td>Stealing Society</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12.346</td>
<td>5</td>
</tr>
<tr>
<td>2</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9.377</td>
<td>14</td>
</tr>
<tr>
<td>3</td><td>Virtual Escape</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.542</td>
<td>20</td>
</tr>
<tr>
<td>4</td><td>Dont Mess With The Don</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.418</td>
<td>6</td>
</tr>
<tr>
<td>5</td><td>Steel Phoenix</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.5</td>
<td>18</td>
</tr>
<tr>
<td>6</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.313</td>
<td>2</td>
</tr>
<tr>
<td>7</td><td>Dangerous And Moving</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>24</td>
</tr>
<tr>
<td>8</td><td>Seppo Hovi Action Team</td>
<td>Forfeit</td>
<td>1</td>
<td>0</td>
<td>3.127</td>
<td>44</td>
</tr>
<tr>
<td>9</td><td>The Laxandor</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.999</td>
<td>43</td>
</tr>
<tr>
<td>10</td><td>Sylvans Avengers</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.999</td>
<td>63</td>
</tr>
<tr>
<td>11</td><td>Esoteric Warriors</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.626</td>
<td>3</td>
</tr>
<tr>
<td>12</td><td>Supernova Jpn</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>25</td>
</tr>
<tr>
<td>13</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>17</td>
</tr>
<tr>
<td>14</td><td>Douane Nationale Francaise</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>42</td>
</tr>
<tr>
<td>15</td><td>Shining Fairy Princess Power</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>152</td>
</tr>
<tr>
<td>16</td><td>The Evernight</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>184</td>
</tr>
