<tr>
<td>1</td>
<td>Dangerous Pumpkins</td>
<td>dP</td>
<td>4</td>
<td>0</td>
<td>10</td>
</tr>
<tr>
<td>2</td>
<td>Insert Guildname</td>
<td>Tag</td>
<td>3</td>
<td>1</td>
<td>13</td>
</tr>
<tr>
<td>3</td>
<td>Math Club Party Crew</td>
<td>Team</td>
<td>2</td>
<td>1</td>
<td>6</td>
</tr>
<tr>
<td>4</td>
<td>A Room For Improvement</td>
<td>PxP</td>
<td>2</td>
<td>1</td>
<td>32</td>
</tr>
<tr>
<td>5</td>
<td>Vent Rage</td>
<td>vR</td>
<td>1</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>6</td>
<td>Obsidian Sun</td>
<td>OdS</td>
<td>1</td>
<td>1</td>
<td>36</td>
</tr>
<tr>
<td>7</td>
<td>Nespresso What</td>
<td>Else</td>
<td>1</td>
<td>1</td>
<td>19</td>
</tr>
<tr>
<td>8</td>
<td>Russisches Quellwasser Vod</td>
<td>ka</td>
<td>1</td>
<td>1</td>
<td>21</td>
</tr>
<tr>
<td>9</td>
<td>Dont Panic Just Resign Returns</td>
<td>boO</td>
<td>0</td>
<td>1</td>
<td>33</td>
</tr>
<tr>
<td>10</td>
<td>Social Darwinism</td>
<td>SaD</td>
<td>0</td>
<td>1</td>
<td>227</td>
</tr>
<tr>
<td>11</td>
<td>Let Me Write It Down In My Care</td>
<td>Book</td>
<td>0</td>
<td>1</td>
<td>29</td>
</tr>
<tr>
<td>12</td>
<td>Los Dragones De Fatalidad</td>
<td>LDdF</td>
<td>0</td>
<td>1</td>
<td>130</td>
</tr>
<tr>
<td>13</td>
<td>Serious Sin</td>
<td>SiN</td>
<td>0</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>14</td>
<td>Get Straight Or Die Trying</td>
<td>kewl</td>
<td>0</td>
<td>1</td>
<td>15</td>
</tr>
<tr>
<td>15</td>
<td>Get Good</td>
<td>GG</td>
<td>0</td>
<td>1</td>
<td>16</td>
</tr>
<tr>
<td>16</td>
<td>Even Captain Of Titanic Said</td>
<td>LaG</td>
<td>0</td>
<td>1</td>
<td>18</td>
</tr>
