<tr>
<td>1</td><td>Rebel Rising</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12</td>
<td>1</td>
</tr>
<tr>
<td>2</td><td>We Want Cookies</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9</td>
<td>11</td>
</tr>
<tr>
<td>3</td><td>The Bouncers</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>104</td>
</tr>
<tr>
<td>4</td><td>Steel Phoenix</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6</td>
<td>22</td>
</tr>
<tr>
<td>5</td><td>Wiping As Intended</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>25</td>
</tr>
<tr>
<td>6</td><td>Whats Going On</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>7</td>
</tr>
<tr>
<td>7</td><td>Dangerous Pumpkins</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>30</td>
</tr>
<tr>
<td>8</td><td>Everlasting Inability</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3</td>
<td>190</td>
</tr>
<tr>
<td>9</td><td>Charr Siege Investigation</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>170</td>
</tr>
<tr>
<td>10</td><td>Dangerous And Moving</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>6</td>
</tr>
<tr>
<td>11</td><td>Serious Sin</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>84</td>
</tr>
<tr>
<td>12</td><td>Even Captain Of Titanic Said</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>310</td>
</tr>
<tr>
<td>13</td><td>Straight Outta Kamadan</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>2</td>
</tr>
<tr>
<td>14</td><td>Coloring Book</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>20</td>
</tr>
<tr>
<td>15</td><td>The Laxandor</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>36</td>
</tr>
<tr>
<td>16</td><td>Team Chaos Theory</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0</td>
<td>54</td>
</tr>
