<div class="content-wrap">
    <div class="mpl-navbar-mobile-overlay"></div>
    <div>
        <section class="mpl-banner mpl-banner-top mpl-banner-parallax">
            <div class="mpl-image" data-speed="0.8">
                <%= image_tag 'background.jpg', class: 'jarallax-img' %>
            </div>
            <div class="mpl-banner-content mpl-box-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10" data-sr="banner" data-sr-interval="200" data-sr-duration="1200" data-sr-distance="20">
                            <h1 class="display-1" data-sr-item="banner">GWRank Log&nbsp;in</h1>
                            <%= form_tag(omniauth_authorize_path(:player, :discord), method: 'post', data: { turbo: false }) do %>
                                <button type="submit" class="btn btn-md btn-brand">Login with Discord</button>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%= render 'footer' %>
    </div>
</div>
