<tr>
<td>1</td>
<td>Inadequately Equipped</td>
<td>GeAr</td>
<td>4</td>
<td>0</td>
<td>7</td>
</tr>
<tr>
<td>2</td>
<td>I Disposable Heroes I</td>
<td>DirT</td>
<td>3</td>
<td>0</td>
<td>5</td>
</tr>
<tr>
<td>3</td>
<td>Whats Going On</td>
<td>sup</td>
<td>2</td>
<td>1</td>
<td>10</td>
</tr>
<tr>
<td>4</td>
<td>Under Pressure</td>
<td>uP</td>
<td>2</td>
<td>1</td>
<td>12</td>
</tr>
<tr>
<td>5</td>
<td>Stealing Society</td>
<td>StS</td>
<td>1</td>
<td>1</td>
<td>9</td>
</tr>
<tr>
<td>6</td>
<td>No Cookies Left</td>
<td>NOW</td>
<td>1</td>
<td>1</td>
<td>36</td>
</tr>
<tr>
<td>7</td>
<td>Edible Granite Pencil</td>
<td>yumy</td>
<td>1</td>
<td>1</td>
<td>13</td>
</tr>
<tr>
<td>8</td>
<td>Bad Player Is</td>
<td>Bad</td>
<td>1</td>
<td>1</td>
<td>57</td>
</tr>
<tr>
<td>9</td>
<td>Be Team</td>
<td>be</td>
<td>0</td>
<td>1</td>
<td>21</td>
</tr>
<tr>
<td>10</td>
<td>Get Quaked</td>
<td>NJoY</td>
<td>0</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>11</td>
<td>Little Champions Season Finale</td>
<td>vR</td>
<td>0</td>
<td>1</td>
<td>19</td>
</tr>
<tr>
<td>12</td>
<td>Rebel Rising And Friends</td>
<td>rawr</td>
<td>0</td>
<td>1</td>
<td>330</td>
</tr>
<tr>
<td>13</td>
<td>The Myrmidons Of Tyria</td>
<td>myrm</td>
<td>0</td>
<td>1</td>
<td>25</td>
</tr>
<tr>
<td>14</td>
<td>Galileo Mystery</td>
<td>Team</td>
<td>0</td>
<td>1</td>
<td>32</td>
</tr>
<tr>
<td>15</td>
<td>Operation Uninstall</td>
<td>quit</td>
<td>0</td>
<td>1</td>
<td>37</td>
</tr>
<tr>
<td>16</td>
<td>Hoser Down</td>
<td>HD</td>
<td>0</td>
<td>1</td>
<td>53</td>
</tr>
