<tr>
<td>1</td>
<td>Stealing Society</td>
<td>StS</td>
<td>1</td>
<td>0</td>
<td>9</td>
</tr>
<tr>
<td>2</td>
<td>No Cookies Left</td>
<td>NOW</td>
<td>1</td>
<td>0</td>
<td>36</td>
</tr>
<tr>
<td>3</td>
<td>I Disposable Heroes I</td>
<td>DirT</td>
<td>1</td>
<td>0</td>
<td>5</td>
</tr>
<tr>
<td>4</td>
<td>Inadequately Equipped</td>
<td>GeAr</td>
<td>1</td>
<td>0</td>
<td>7</td>
</tr>
<tr>
<td>5</td>
<td>Operation Uninstall</td>
<td>quit</td>
<td>0</td>
<td>1</td>
<td>37</td>
</tr>
<tr>
<td>6</td>
<td>Bad Player Is</td>
<td>Bad</td>
<td>1</td>
<td>0</td>
<td>57</td>
</tr>
<tr>
<td>7</td>
<td>Whats Going On</td>
<td>sup</td>
<td>1</td>
<td>0</td>
<td>10</td>
</tr>
<tr>
<td>8</td>
<td>Under Pressure</td>
<td>uP</td>
<td>1</td>
<td>0</td>
<td>12</td>
</tr>
<tr>
<td>9</td>
<td>Rebel Rising And Friends</td>
<td>rawr</td>
<td>0</td>
<td>1</td>
<td>330</td>
</tr>
<tr>
<td>10</td>
<td>Little Champions Season Finale</td>
<td>vR</td>
<td>0</td>
<td>1</td>
<td>19</td>
</tr>
<tr>
<td>11</td>
<td>Galileo Mystery</td>
<td>Team</td>
<td>0</td>
<td>1</td>
<td>32</td>
</tr>
<tr>
<td>12</td>
<td>Edible Granite Pencil</td>
<td>yumy</td>
<td>1</td>
<td>0</td>
<td>13</td>
</tr>
<tr>
<td>13</td>
<td>Be Team</td>
<td>be</td>
<td>0</td>
<td>1</td>
<td>21</td>
</tr>
<tr>
<td>14</td>
<td>Get Quaked</td>
<td>NJoY</td>
<td>0</td>
<td>1</td>
<td>22</td>
</tr>
<tr>
<td>15</td>
<td>Hoser Down</td>
<td>HD</td>
<td>0</td>
<td>1</td>
<td>53</td>
</tr>
<tr>
<td>16</td>
<td>The Myrmidons Of Tyria</td>
<td>myrm</td>
<td>0</td>
<td>1</td>
<td>25</td>
</tr>
<tr>
<td>17</td>
<td>The Battle Bakery</td>
<td>vPie</td>
<td>4</td>
<td>2</td>
<td>16</td>
</tr>
<tr>
<td>18</td>
<td>Team Chaos Theory</td>
<td>hent</td>
<td>3</td>
<td>3</td>
<td>18</td>
</tr>
<tr>
<td>19</td>
<td>Mens Sana In Corpore Sano</td>
<td>mind</td>
<td>3</td>
<td>3</td>
<td>294</td>
</tr>
<tr>
<td>20</td>
<td>The Deadly Pirates</td>
<td>RiP</td>
<td>3</td>
<td>3</td>
<td>34</td>
</tr>
<tr>
<td>21</td>
<td>Die Pfefferkuchen Armee</td>
<td>pony</td>
<td>3</td>
<td>3</td>
<td>38</td>
</tr>
<tr>
<td>22</td>
<td>Tortuga Bay</td>
<td>Grog</td>
<td>3</td>
<td>3</td>
<td>23</td>
</tr>
<tr>
<td>23</td>
<td>Men Of Substance</td>
<td>YMCA</td>
<td>3</td>
<td>3</td>
<td>45</td>
</tr>
<tr>
<td>24</td>
<td>One Night In</td>
<td>KosS</td>
<td>3</td>
<td>3</td>
<td>85</td>
</tr>
<tr>
<td>25</td>
<td>No Official Argument</td>
<td>NoA</td>
<td>3</td>
<td>3</td>
<td>239</td>
</tr>
<tr>
<td>26</td>
<td>Too Tired To Play</td>
<td>yawn</td>
<td>3</td>
<td>3</td>
<td>197</td>
</tr>
<tr>
<td>27</td>
<td>Random Euro Trash</td>
<td>qft</td>
<td>3</td>
<td>3</td>
<td>63</td>
</tr>
<tr>
<td>28</td>
<td>Finally We Are Eight</td>
<td>GvG</td>
<td>3</td>
<td>3</td>
<td>135</td>
</tr>
<tr>
<td>29</td>
<td>Terribad Turtles</td>
<td>TaNK</td>
<td>3</td>
<td>3</td>
<td>476</td>
</tr>
<tr>
<td>30</td>
<td>Hardcore Slayers</td>
<td>HARD</td>
<td>3</td>
<td>3</td>
<td>64</td>
</tr>
<tr>
<td>31</td>
<td>Art Of Motion</td>
<td>Art</td>
<td>3</td>
<td>3</td>
<td>70</td>
</tr>
<tr>
<td>32</td>
<td>Pathetic Heroes</td>
<td>pH</td>
<td>3</td>
<td>3</td>
<td>467</td>
</tr>
<tr>
<td>33</td>
<td>Ich Wohn Ab Jetzt Hier</td>
<td>IgeL</td>
<td>1</td>
<td>4</td>
<td>187</td>
</tr>
<tr>
<td>34</td>
<td>Obsidian Sun</td>
<td>OdS</td>
<td>2</td>
<td>4</td>
<td>41</td>
</tr>
<tr>
<td>35</td>
<td>Maenner Ohne Wirkliches Leben</td>
<td>mOwl</td>
<td>2</td>
<td>4</td>
<td>391</td>
</tr>
<tr>
<td>36</td>
<td>One Hundred Kilograms Chicks</td>
<td>usa</td>
<td>2</td>
<td>3</td>
<td>35</td>
</tr>
<tr>
<td>37</td>
<td>Super Kaon Action Team</td>
<td>Ban</td>
<td>2</td>
<td>4</td>
<td>181</td>
</tr>
<tr>
<td>38</td>
<td>Spoko Wojownicy</td>
<td>PL</td>
<td>2</td>
<td>4</td>
<td>310</td>
</tr>
<tr>
<td>39</td>
<td>Gimme A Bar</td>
<td>ping</td>
<td>2</td>
<td>3</td>
<td>149</td>
</tr>
<tr>
<td>40</td>
<td>Time For Plan B</td>
<td>RUN</td>
<td>2</td>
<td>4</td>
<td>351</td>
</tr>
<tr>
<td>41</td>
<td>Husaria Pol</td>
<td>HSR</td>
<td>2</td>
<td>4</td>
<td>97</td>
</tr>
<tr>
<td>42</td>
<td>The Valium Knights</td>
<td>Vk</td>
<td>1</td>
<td>3</td>
<td>27</td>
</tr>
<tr>
<td>43</td>
<td>High Ping Victims</td>
<td>FFS</td>
<td>1</td>
<td>0</td>
<td>26</td>
</tr>
<tr>
<td>44</td>
<td>Special Love</td>
<td>FIST</td>
<td>1</td>
<td>5</td>
<td>355</td>
</tr>
<tr>
<td>45</td>
<td>Tenkai Ichi Budokai</td>
<td>WaT</td>
<td>1</td>
<td>3</td>
<td>172</td>
</tr>
<tr>
<td>46</td>
<td>Hex And The City</td>
<td>Pron</td>
<td>1</td>
<td>2</td>
<td>1787</td>
</tr>
<tr>
<td>47</td>
<td>Terror Of The Justice Salmon</td>
<td>FisH</td>
<td>0</td>
<td>3</td>
<td>87</td>
</tr>
<tr>
<td>48</td>
<td>Quality Players</td>
<td>qP</td>
<td>0</td>
<td>2</td>
<td>344</td>
</tr>
<tr>
<td>49</td>
<td>I Strike Force I</td>
<td>SF</td>
<td>0</td>
<td>3</td>
<td>388</td>
</tr>
<tr>
<td>50</td>
<td>Anonymous Amateurs</td>
<td>AA</td>
<td>0</td>
<td>3</td>
<td>11</td>
</tr>
<tr>
<td>51</td>
<td>Aces Ascalon Army</td>
<td>AaA</td>
<td>0</td>
<td>2</td>
<td>1559</td>
</tr>
