<tr>
<td>1</td><td>Mistral Edge</td>
<td>Done</td>
<td>4</td>
<td>0</td>
<td>12.346</td>
<td>25</td>
</tr>
<tr>
<td>2</td><td>Close Encounter</td>
<td>Done</td>
<td>3</td>
<td>1</td>
<td>9.439</td>
<td>36</td>
</tr>
<tr>
<td>3</td><td>You Failed</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.418</td>
<td>9</td>
</tr>
<tr>
<td>4</td><td>Professional Athletes</td>
<td>Done</td>
<td>2</td>
<td>1</td>
<td>6.293</td>
<td>49</td>
</tr>
<tr>
<td>5</td><td>I Eternum Pariah I</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.5</td>
<td>56</td>
</tr>
<tr>
<td>6</td><td>Best Before</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.313</td>
<td>21</td>
</tr>
<tr>
<td>7</td><td>Whats Going On</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>8</td>
</tr>
<tr>
<td>8</td><td>Cursed In Any Language</td>
<td>Done</td>
<td>1</td>
<td>1</td>
<td>3.251</td>
<td>112</td>
</tr>
<tr>
<td>9</td><td>Absence Of Brain</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.999</td>
<td>7</td>
</tr>
<tr>
<td>10</td><td>Laxigen Addicts</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.626</td>
<td>42</td>
</tr>
<tr>
<td>11</td><td>Theres A New Sheriff In</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>23</td>
</tr>
<tr>
<td>12</td><td>Ghostly Heroes</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.502</td>
<td>39</td>
</tr>
<tr>
<td>13</td><td>Stealing Society</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>2</td>
</tr>
<tr>
<td>14</td><td>Dark Alley</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>3</td>
</tr>
<tr>
<td>15</td><td>Supernova Jpn</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>14</td>
</tr>
<tr>
<td>16</td><td>C A S T R A T I O N</td>
<td>Done</td>
<td>0</td>
<td>1</td>
<td>0.254</td>
<td>15</td>
</tr>
