<tr>
<td>1</td><td>Whats Going On</td>
<td>Done</td>
<td>7</td>
<td>0</td>
<td>21.309</td>
<td>8</td>
</tr>
<tr>
<td>2</td><td>C A S T R A T I O N</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.386</td>
<td>15</td>
</tr>
<tr>
<td>3</td><td>You Failed</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.369</td>
<td>9</td>
</tr>
<tr>
<td>4</td><td>Ghostly Heroes</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.35</td>
<td>39</td>
</tr>
<tr>
<td>5</td><td>Dark Alley</td>
<td>Done</td>
<td>6</td>
<td>1</td>
<td>18.335</td>
<td>3</td>
</tr>
<tr>
<td>6</td><td>Close Encounter</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.569</td>
<td>36</td>
</tr>
<tr>
<td>7</td><td>Mistral Edge</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.532</td>
<td>25</td>
</tr>
<tr>
<td>8</td><td>Stealing Society</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.497</td>
<td>2</td>
</tr>
<tr>
<td>9</td><td>Best Before</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.361</td>
<td>21</td>
</tr>
<tr>
<td>10</td><td>Absence Of Brain</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.36</td>
<td>7</td>
</tr>
<tr>
<td>11</td><td>Laxigen Addicts</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.36</td>
<td>42</td>
</tr>
<tr>
<td>12</td><td>I Eternum Pariah I</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.349</td>
<td>56</td>
</tr>
<tr>
<td>13</td><td>Professional Athletes</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.324</td>
<td>49</td>
</tr>
<tr>
<td>14</td><td>Theres A New Sheriff In</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.317</td>
<td>23</td>
</tr>
<tr>
<td>15</td><td>Cursed In Any Language</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.308</td>
<td>112</td>
</tr>
<tr>
<td>16</td><td>Supernova Jpn</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.294</td>
<td>14</td>
</tr>
<tr>
<td>17</td><td>Delta Formation</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.293</td>
<td>1</td>
</tr>
<tr>
<td>18</td><td>Shadow Step To</td>
<td>Done</td>
<td>5</td>
<td>2</td>
<td>15.182</td>
<td>211</td>
</tr>
<tr>
<td>19</td><td>Xxx The Final Thrust Xxx</td>
<td>Forfeit</td>
<td>4</td>
<td>2</td>
<td>12.517</td>
<td>31</td>
</tr>
<tr>
<td>20</td><td>Good Artist</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.43</td>
<td>73</td>
</tr>
<tr>
<td>21</td><td>Rebel Rising</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.425</td>
<td>5</td>
</tr>
<tr>
<td>22</td><td>Revive Teammates</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.384</td>
<td>33</td>
</tr>
<tr>
<td>23</td><td>Not Dead</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.365</td>
<td>19</td>
</tr>
<tr>
<td>24</td><td>Pff We Are In</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.336</td>
<td>124</td>
</tr>
<tr>
<td>25</td><td>Clan Union</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.324</td>
<td>22</td>
</tr>
<tr>
<td>26</td><td>Bruderschaft Der Verdammnis</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.304</td>
<td>20</td>
</tr>
<tr>
<td>27</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.298</td>
<td>201</td>
</tr>
<tr>
<td>28</td><td>What Is This</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.297</td>
<td>179</td>
</tr>
<tr>
<td>29</td><td>Team Chaos Theory</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.277</td>
<td>145</td>
</tr>
<tr>
<td>30</td><td>Dosen Verwertungs Anstalt</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.269</td>
<td>87</td>
</tr>
<tr>
<td>31</td><td>I Think You Can</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.266</td>
<td>65</td>
</tr>
<tr>
<td>32</td><td>Il Green Monkeys Il</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.238</td>
<td>530</td>
</tr>
<tr>
<td>33</td><td>Not Another Reform</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.231</td>
<td>171</td>
</tr>
<tr>
<td>34</td><td>Storm Hogs</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.222</td>
<td>17</td>
</tr>
<tr>
<td>35</td><td>Heart Of Ashes And Dust</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.206</td>
<td>26</td>
</tr>
<tr>
<td>36</td><td>Ne Ve R Mi Nd</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.151</td>
<td>135</td>
</tr>
<tr>
<td>37</td><td>Someone Set Up Us The</td>
<td>Done</td>
<td>4</td>
<td>3</td>
<td>12.075</td>
<td>243</td>
</tr>
<tr>
<td>38</td><td>The Tragic Magic</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.359</td>
<td>115</td>
</tr>
<tr>
<td>39</td><td>Rank Three Plus Pug</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.334</td>
<td>44</td>
</tr>
<tr>
<td>40</td><td>Jelly Toasts</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.294</td>
<td>91</td>
</tr>
<tr>
<td>41</td><td>Straight Forward</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.294</td>
<td>100</td>
</tr>
<tr>
<td>42</td><td>Anonymous Amateurs</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.283</td>
<td>181</td>
</tr>
<tr>
<td>43</td><td>Fette Wamos Braucht Das</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>9.265</td>
<td>62</td>
</tr>
<tr>
<td>44</td><td>War Of All Stars</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.258</td>
<td>3306</td>
</tr>
<tr>
<td>45</td><td>The Benecia Renovatio I N T</td>
<td>Forfeit</td>
<td>3</td>
<td>3</td>
<td>9.217</td>
<td>283</td>
</tr>
<tr>
<td>46</td><td>Y O U</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.191</td>
<td>141</td>
</tr>
<tr>
<td>47</td><td>Legend Will Never Die</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.17</td>
<td>623</td>
</tr>
<tr>
<td>48</td><td>We Are From Poland</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.162</td>
<td>408</td>
</tr>
<tr>
<td>49</td><td>Forgotten Myth</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>9.156</td>
<td>163</td>
</tr>
<tr>
<td>50</td><td>Fortis Primani</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.124</td>
<td>847</td>
</tr>
<tr>
<td>51</td><td>Flying V Formation</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.095</td>
<td>192</td>
</tr>
<tr>
<td>52</td><td>Red Basilica</td>
<td>Done</td>
<td>3</td>
<td>4</td>
<td>9.074</td>
<td>297</td>
</tr>
<tr>
<td>53</td><td>New Russian Order</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.441</td>
<td>337</td>
</tr>
<tr>
<td>54</td><td>Die Keller Kinder</td>
<td>Forfeit</td>
<td>2</td>
<td>4</td>
<td>6.273</td>
<td>24</td>
</tr>
<tr>
<td>55</td><td>Oo The Who Oo</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.262</td>
<td>380</td>
</tr>
<tr>
<td>56</td><td>Paradox Theory</td>
<td>Forfeit</td>
<td>2</td>
<td>2</td>
<td>6.25</td>
<td>48</td>
</tr>
<tr>
<td>57</td><td>Ohne Kaffee Ist Tote</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.222</td>
<td>185</td>
</tr>
<tr>
<td>58</td><td>Marvel Superhoes</td>
<td>Forfeit</td>
<td>2</td>
<td>2</td>
<td>6.188</td>
<td>244</td>
</tr>
<tr>
<td>59</td><td>You Die On Friday</td>
<td>Done</td>
<td>2</td>
<td>5</td>
<td>6.167</td>
<td>205</td>
</tr>
<tr>
<td>60</td><td>Bad Positioning</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>6.145</td>
<td>431</td>
</tr>
<tr>
<td>61</td><td>Eternal Vigor</td>
<td>Forfeit</td>
<td>2</td>
<td>4</td>
<td>6.126</td>
<td>148</td>
</tr>
<tr>
<td>62</td><td>Captain Tickles Pirate Palooza</td>
<td>Forfeit</td>
<td>2</td>
<td>4</td>
<td>6.022</td>
<td>315</td>
</tr>
<tr>
<td>63</td><td>Rome Reloaded</td>
<td>Forfeit</td>
<td>1</td>
<td>2</td>
<td>3.378</td>
<td>511</td>
</tr>
<tr>
<td>64</td><td>Malice Moguls</td>
<td>Forfeit</td>
<td>1</td>
<td>2</td>
<td>3.28</td>
<td>106</td>
</tr>
<tr>
<td>65</td><td>Untimely Demise</td>
<td>Forfeit</td>
<td>1</td>
<td>3</td>
<td>3.28</td>
<td>563</td>
</tr>
<tr>
<td>66</td><td>Angolanische Ziegenmafia</td>
<td>Forfeit</td>
<td>1</td>
<td>3</td>
<td>3.223</td>
<td>83</td>
</tr>
<tr>
<td>67</td><td>Pimpin Krickitz</td>
<td>Forfeit</td>
<td>1</td>
<td>3</td>
<td>3.188</td>
<td>353</td>
</tr>
<tr>
<td>68</td><td>The Popular Roebuck</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3.168</td>
<td>760</td>
</tr>
<tr>
<td>69</td><td>Suk It Trebek For Union</td>
<td>Done</td>
<td>1</td>
<td>6</td>
<td>3.151</td>
<td>5532</td>
</tr>
<tr>
<td>70</td><td>Epic Quarrel</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.502</td>
<td>43</td>
</tr>
<tr>
<td>71</td><td>Nihil Morte Certium</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.502</td>
<td>175</td>
</tr>
<tr>
<td>72</td><td>We Is Paladinz</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.502</td>
<td>251</td>
</tr>
<tr>
<td>73</td><td>Buffed Fighters</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.403</td>
<td>206</td>
</tr>
<tr>
<td>74</td><td>No Hoper</td>
<td>Forfeit</td>
<td>0</td>
<td>1</td>
<td>0.324</td>
<td>332</td>
</tr>
<tr>
<td>75</td><td>Guild Drama</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>245</td>
</tr>
<tr>
<td>76</td><td>I Cute Kittens I</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>247</td>
</tr>
<tr>
<td>77</td><td>I Les Bras Casses I</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>596</td>
</tr>
<tr>
<td>78</td><td>The Knights Templar</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.254</td>
<td>5346</td>
</tr>
<tr>
<td>79</td><td>Les Fils De Babylone</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.104</td>
<td>134</td>
</tr>
<tr>
<td>80</td><td>Volksfront Von Sauberg</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0.074</td>
<td>575</td>
</tr>
<tr>
<td>81</td><td>The Askalon Kingdom</td>
<td>Forfeit</td>
<td>0</td>
<td>4</td>
<td>0.072</td>
<td>1018</td>
</tr>
<tr>
<td>82</td><td>We Love Frenzy At</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.005</td>
<td>72</td>
</tr>
<tr>
<td>83</td><td>Planet Unicorn</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>53</td>
</tr>
<tr>
<td>84</td><td>Stylish Crew</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td>666</td>
</tr>
