a {
  text-decoration: none;
}

.table > :not(caption) > * > * {
  background-color: transparent;
}

.table thead tr th {
  color: white;
}

.table tbody th, .table tbody td {
  padding: 2px 10px 10px;
}

.collapse-toggle {
  padding: 2px;
}
