<div class="mpl-preloader">
    <div class="mpl-preloader-content">
        <div class="mpl-preloader-title display-1 h1">GWRank.com</div>
        <div class="mpl-preloader-progress">
            <div></div>
        </div>
    </div>
</div>
<div class="mpl-preloader-bg"></div>