<tr>
<td>1</td>
<td> History Repeats Itself </td>
<td> Cry </td>
<td> 4 </td>
<td> 0 </td>
<td> 29 </td>
</tr>
<tr>
<td>2</td>
<td> Edible Granite Pencil </td>
<td> yumy </td>
<td> 3 </td>
<td> 1 </td>
<td> 40 </td>
</tr>
<tr>
<td>3</td>
<td> High Ping Victims </td>
<td> FFS </td>
<td> 2 </td>
<td> 1 </td>
<td> 50 </td>
</tr>
<tr>
<td>4</td>
<td> Whats Going On </td>
<td> sup </td>
<td> 2 </td>
<td> 1 </td>
<td> 10 </td>
</tr>
<tr>
<td>5</td>
<td> Rebel Rising Extended Edition </td>
<td> rawr </td>
<td> 1 </td>
<td> 1 </td>
<td> 14 </td>
</tr>
<tr>
<td>6</td>
<td> Team Chaos Theory </td>
<td> hent </td>
<td> 1 </td>
<td> 1 </td>
<td> 47 </td>
</tr>
<tr>
<td>7</td>
<td> Stealing Society </td>
<td> StS </td>
<td> 1 </td>
<td> 1 </td>
<td> 13 </td>
</tr>
<tr>
<td>8</td>
<td> Under Pressure </td>
<td> uP </td>
<td> 1 </td>
<td> 0 </td>
<td> 9 </td>
</tr>
<tr>
<td>9</td>
<td> Steel Phoenix </td>
<td> StP </td>
<td> 0 </td>
<td> 1 </td>
<td> 15 </td>
</tr>
<tr>
<td>10</td>
<td> In Soviet Russia Goldcape Wins </td>
<td> You </td>
<td> 0 </td>
<td> 1 </td>
<td> 172 </td>
</tr>
<tr>
<td>11</td>
<td> Random Euro Trash </td>
<td> qft </td>
<td> 0 </td>
<td> 1 </td>
<td> 179 </td>
</tr>
<tr>
<td>12</td>
<td> I Disposable Heroes I </td>
<td> DirT </td>
<td> 0 </td>
<td> 1 </td>
<td> 6 </td>
</tr>
<tr>
<td>13</td>
<td> Adrenaline Junkies </td>
<td> AxE </td>
<td> 0 </td>
<td> 1 </td>
<td> 26 </td>
</tr>
<tr>
<td>14</td>
<td> Beyond The Gates Of Infinity </td>
<td> sKy </td>
<td> 0 </td>
<td> 1 </td>
<td> 32 </td>
</tr>
<tr>
<td>15</td>
<td> Our Ghostly Is A Roxxor </td>
<td> SuX </td>
<td> 0 </td>
<td> 1 </td>
<td> 44 </td>
</tr>
<tr>
<td>16</td>
<td> Cpt Kumtashs Creamy Companions </td>
<td> ban </td>
<td> 0 </td>
<td> 1 </td>
<td> 80 </td>
</tr>
