<tr>
<td>1</td>
<td> Edible Granite Pencil </td>
<td> yumy </td>
<td> 1 </td>
<td> 0 </td>
<td> 40 </td>
</tr>
<tr>
<td>2</td>
<td> Adrenaline Junkies </td>
<td> AxE </td>
<td> 0 </td>
<td> 1 </td>
<td> 26 </td>
</tr>
<tr>
<td>3</td>
<td> Beyond The Gates Of Infinity </td>
<td> sKy </td>
<td> 0 </td>
<td> 1 </td>
<td> 32 </td>
</tr>
<tr>
<td>4</td>
<td> Under Pressure </td>
<td> uP </td>
<td> 1 </td>
<td> 0 </td>
<td> 9 </td>
</tr>
<tr>
<td>5</td>
<td> Whats Going On </td>
<td> sup </td>
<td> 1 </td>
<td> 0 </td>
<td> 10 </td>
</tr>
<tr>
<td>6</td>
<td> Cpt Kumtashs Creamy Companions </td>
<td> ban </td>
<td> 0 </td>
<td> 1 </td>
<td> 80 </td>
</tr>
<tr>
<td>7</td>
<td> Stealing Society </td>
<td> StS </td>
<td> 1 </td>
<td> 0 </td>
<td> 13 </td>
</tr>
<tr>
<td>8</td>
<td> Steel Phoenix </td>
<td> StP </td>
<td> 0 </td>
<td> 1 </td>
<td> 15 </td>
</tr>
<tr>
<td>9</td>
<td> History Repeats Itself </td>
<td> Cry </td>
<td> 1 </td>
<td> 0 </td>
<td> 29 </td>
</tr>
<tr>
<td>10</td>
<td> Our Ghostly Is A Roxxor </td>
<td> SuX </td>
<td> 0 </td>
<td> 1 </td>
<td> 44 </td>
</tr>
<tr>
<td>11</td>
<td> Rebel Rising Extended Edition </td>
<td> rawr </td>
<td> 1 </td>
<td> 0 </td>
<td> 14 </td>
</tr>
<tr>
<td>12</td>
<td> I Disposable Heroes I </td>
<td> DirT </td>
<td> 0 </td>
<td> 1 </td>
<td> 6 </td>
</tr>
<tr>
<td>13</td>
<td> In Soviet Russia Goldcape Wins </td>
<td> You </td>
<td> 0 </td>
<td> 1 </td>
<td> 172 </td>
</tr>
<tr>
<td>14</td>
<td> Team Chaos Theory </td>
<td> hent </td>
<td> 1 </td>
<td> 0 </td>
<td> 47 </td>
</tr>
<tr>
<td>15</td>
<td> High Ping Victims </td>
<td> FFS </td>
<td> 1 </td>
<td> 0 </td>
<td> 50 </td>
</tr>
<tr>
<td>16</td>
<td> Random Euro Trash </td>
<td> qft </td>
<td> 0 </td>
<td> 1 </td>
<td> 179 </td>
</tr>
<tr>
<td>17</td>
<td> Let Me Write It Down In My Care </td>
<td> Book </td>
<td> 4 </td>
<td> 2 </td>
<td> 298 </td>
</tr>
<tr>
<td>18</td>
<td> The Benecia Renovatio </td>
<td> RenO </td>
<td> 4 </td>
<td> 2 </td>
<td> 250 </td>
</tr>
<tr>
<td>19</td>
<td> Sehr Grosses </td>
<td> KeKs </td>
<td> 4 </td>
<td> 2 </td>
<td> 39 </td>
</tr>
<tr>
<td>20</td>
<td> One Hundred Kilograms Chicks </td>
<td> usa </td>
<td> 3 </td>
<td> 3 </td>
<td> 96 </td>
</tr>
<tr>
<td>21</td>
<td> Dangerous Pumpkins </td>
<td> dP </td>
<td> 3 </td>
<td> 3 </td>
<td> 11 </td>
</tr>
<tr>
<td>22</td>
<td> Silent Hunters </td>
<td> SH </td>
<td> 3 </td>
<td> 3 </td>
<td> 79 </td>
</tr>
<tr>
<td>23</td>
<td> Vicious Delicious </td>
<td> VD </td>
<td> 3 </td>
<td> 3 </td>
<td> 148 </td>
</tr>
<tr>
<td>24</td>
<td> Vent Rage </td>
<td> vR </td>
<td> 3 </td>
<td> 3 </td>
<td> 69 </td>
</tr>
<tr>
<td>25</td>
<td> Guild Down </td>
<td> PZZZ </td>
<td> 3 </td>
<td> 3 </td>
<td> 20 </td>
</tr>
<tr>
<td>26</td>
<td> None But Fools </td>
<td> nuts </td>
<td> 3 </td>
<td> 3 </td>
<td> 23 </td>
</tr>
<tr>
<td>27</td>
<td> Super Kaon Action Team </td>
<td> Ban </td>
<td> 3 </td>
<td> 3 </td>
<td> 340 </td>
</tr>
<tr>
<td>28</td>
<td> Jackie Chan </td>
<td> Chan </td>
<td> 3 </td>
<td> 3 </td>
<td> 196 </td>
</tr>
<tr>
<td>29</td>
<td> We Are The Hardmode </td>
<td> HM </td>
<td> 3 </td>
<td> 3 </td>
<td> 8 </td>
</tr>
<tr>
<td>30</td>
<td> Supernova Jpn </td>
<td> SpNv </td>
<td> 3 </td>
<td> 3 </td>
<td> 120 </td>
</tr>
<tr>
<td>31</td>
<td> Unknown Playerz </td>
<td> oO </td>
<td> 3 </td>
<td> 3 </td>
<td> 106 </td>
</tr>
<tr>
<td>32</td>
<td> Shaq In Wonderland Oh </td>
<td> Baby </td>
<td> 3 </td>
<td> 3 </td>
<td> 16 </td>
</tr>
<tr>
<td>33</td>
<td> Moje Chore Ego </td>
<td> eGo </td>
<td> 3 </td>
<td> 3 </td>
<td> 210 </td>
</tr>
<tr>
<td>34</td>
<td> Antique Massage Technique </td>
<td> BoX </td>
<td> 3 </td>
<td> 3 </td>
<td> 124 </td>
</tr>
<tr>
<td>35</td>
<td> Fallit Imago </td>
<td> Fi </td>
<td> 3 </td>
<td> 3 </td>
<td> 63 </td>
</tr>
<tr>
<td>36</td>
<td> Oasis Is For Alcoholic But Is </td>
<td> GoOd </td>
<td> 3 </td>
<td> 3 </td>
<td> 421 </td>
</tr>
<tr>
<td>37</td>
<td> Inadequately Equipped </td>
<td> GeAr </td>
<td> 1 </td>
<td> 4 </td>
<td> 17 </td>
</tr>
<tr>
<td>38</td>
<td> Awesome Guild Great Job </td>
<td> GlhF </td>
<td> 2 </td>
<td> 4 </td>
<td> 157 </td>
</tr>
<tr>
<td>39</td>
<td> Spectral Agony </td>
<td> sA </td>
<td> 2 </td>
<td> 4 </td>
<td> 163 </td>
</tr>
<tr>
<td>40</td>
<td> Unknown Phenomenon </td>
<td> vK </td>
<td> 2 </td>
<td> 4 </td>
<td> 18 </td>
</tr>
<tr>
<td>41</td>
<td> Husaria Pol </td>
<td> HSR </td>
<td> 2 </td>
<td> 4 </td>
<td> 194 </td>
</tr>
<tr>
<td>42</td>
<td> Lowbird Academy </td>
<td> LoW </td>
<td> 2 </td>
<td> 4 </td>
<td> 60 </td>
</tr>
<tr>
<td>43</td>
<td> Here Comes The Guetto Mode </td>
<td> Ruff </td>
<td> 1 </td>
<td> 4 </td>
<td> 425 </td>
</tr>
<tr>
<td>44</td>
<td> Hardcore Slayers </td>
<td> HARD </td>
<td> 2 </td>
<td> 4 </td>
<td> 74 </td>
</tr>
<tr>
<td>45</td>
<td> Legend Will Never Die </td>
<td> TTF </td>
<td> 2 </td>
<td> 4 </td>
<td> 190 </td>
</tr>
<tr>
<td>46</td>
<td> More Pewpew Less Qq </td>
<td> HuGS </td>
<td> 2 </td>
<td> 4 </td>
<td> 295 </td>
</tr>
<tr>
<td>47</td>
<td> Dont Mess With The Don </td>
<td> mkay </td>
<td> 0 </td>
<td> 4 </td>
<td> 356 </td>
</tr>
<tr>
<td>48</td>
<td> Schlauer Als Wie Ein Stein </td>
<td> KluK </td>
<td> 1 </td>
<td> 5 </td>
<td> 282 </td>
</tr>
<tr>
<td>49</td>
<td> Here Goes Nothing </td>
<td> Gogo </td>
<td> 0 </td>
<td> 5 </td>
<td> 279 </td>
</tr>
<tr>
<td>50</td>
<td> I Wanna Be A S U P E R </td>
<td> STAR </td>
<td> 1 </td>
<td> 5 </td>
<td> 287 </td>
</tr>
<tr>
<td>51</td>
<td> Nerve Impulse </td>
<td> nR </td>
<td> 0 </td>
<td> 3 </td>
<td> 244 </td>
</tr>
<tr>
<td>52</td>
<td> Wanted By The Law For Keepin It </td>
<td> Raw </td>
<td> 1 </td>
<td> 5 </td>
<td> 858 </td>
</tr>
<tr>
<td>53</td>
<td> Banna Reloaded </td>
<td> back </td>
<td> 1 </td>
<td> 5 </td>
<td> 322 </td>
</tr>
