<tr>
<td>1</td><td>Whats Going On</td>
<td>Done</td>
<td>6</td>
<td>0</td>
<td>18.419</td>
<td>4</td>
</tr>
<tr>
<td>2</td><td>Be Team</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.577</td>
<td>49</td>
</tr>
<tr>
<td>3</td><td>Epic Failing Europeans</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.378</td>
<td>20</td>
</tr>
<tr>
<td>4</td><td>Virtual Dragons</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.336</td>
<td>22</td>
</tr>
<tr>
<td>5</td><td>Yltsohg Seoreh</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.294</td>
<td>29</td>
</tr>
<tr>
<td>6</td><td>Revive Teammates</td>
<td>Done</td>
<td>5</td>
<td>1</td>
<td>15.17</td>
<td>33</td>
</tr>
<tr>
<td>7</td><td>Thugz Mansion</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.493</td>
<td>164</td>
</tr>
<tr>
<td>8</td><td>Dont Mess With The Don</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.461</td>
<td>36</td>
</tr>
<tr>
<td>9</td><td>The Best Guild In The Game</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.402</td>
<td>5142</td>
</tr>
<tr>
<td>10</td><td>Dark Alley</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.394</td>
<td>3</td>
</tr>
<tr>
<td>11</td><td>Laxigen Addicts</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.378</td>
<td>34</td>
</tr>
<tr>
<td>12</td><td>Rebel Rising</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.311</td>
<td>5</td>
</tr>
<tr>
<td>13</td><td>C A P I T A L I S M</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.311</td>
<td>63</td>
</tr>
<tr>
<td>14</td><td>Sylvan Avengers</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.295</td>
<td>31</td>
</tr>
<tr>
<td>15</td><td>Mistral Edge</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.294</td>
<td>17</td>
</tr>
<tr>
<td>16</td><td>Grim Monolith</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.269</td>
<td>51</td>
</tr>
<tr>
<td>17</td><td>You Failed</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.228</td>
<td>1</td>
</tr>
<tr>
<td>18</td><td>The Tutti Fruttis</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.211</td>
<td>50</td>
</tr>
<tr>
<td>19</td><td>Stealing Society</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.171</td>
<td>6</td>
</tr>
<tr>
<td>20</td><td>Amazing Strength</td>
<td>Done</td>
<td>4</td>
<td>2</td>
<td>12.17</td>
<td>39</td>
</tr>
<tr>
<td>21</td><td>I Disposable Heroes I</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.461</td>
<td>25</td>
</tr>
<tr>
<td>22</td><td>Supernova Jpn</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.418</td>
<td>89</td>
</tr>
<tr>
<td>23</td><td>Pastel Drawing</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.411</td>
<td>88</td>
</tr>
<tr>
<td>24</td><td>Silent Hunters</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.394</td>
<td>226</td>
</tr>
<tr>
<td>25</td><td>No Gutz No Glory</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.378</td>
<td>42</td>
</tr>
<tr>
<td>26</td><td>Heart Of Ashes And Dust</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.286</td>
<td>57</td>
</tr>
<tr>
<td>27</td><td>Dangerous Pumpkins</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.278</td>
<td>54</td>
</tr>
<tr>
<td>28</td><td>The Last Attempt</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.253</td>
<td>110</td>
</tr>
<tr>
<td>29</td><td>Reverse Psychology</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.252</td>
<td>333</td>
</tr>
<tr>
<td>30</td><td>One Day Wonder</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.211</td>
<td>282</td>
</tr>
<tr>
<td>31</td><td>Fette Wamos Braucht Das</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.187</td>
<td>52</td>
</tr>
<tr>
<td>32</td><td>Chaos Equilibrium</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.17</td>
<td>40</td>
</tr>
<tr>
<td>33</td><td>Terror Of The Justice Salmon</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.169</td>
<td>19</td>
</tr>
<tr>
<td>34</td><td>Crazy Animals Hit Squad</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.169</td>
<td>139</td>
</tr>
<tr>
<td>35</td><td>I Victory Or Death I</td>
<td>Done</td>
<td>3</td>
<td>3</td>
<td>9.169</td>
<td>156</td>
</tr>
<tr>
<td>36</td><td>Can You Hear Me</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.444</td>
<td>233</td>
</tr>
<tr>
<td>37</td><td>Team Chaos Theory</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.419</td>
<td>103</td>
</tr>
<tr>
<td>38</td><td>Flowers Of Happiness</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.311</td>
<td>141</td>
</tr>
<tr>
<td>39</td><td>Professional Athletes</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.294</td>
<td>7</td>
</tr>
<tr>
<td>40</td><td>Witness Of Destiny</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.227</td>
<td>161</td>
</tr>
<tr>
<td>41</td><td>Forgotten Myth</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.227</td>
<td>221</td>
</tr>
<tr>
<td>42</td><td>Noob Gladiators</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.212</td>
<td>72</td>
</tr>
<tr>
<td>43</td><td>Red Basilica</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.211</td>
<td>350</td>
</tr>
<tr>
<td>44</td><td>Up And At Them</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.17</td>
<td>305</td>
</tr>
<tr>
<td>45</td><td>Fluffy Little Kitties</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.168</td>
<td>152</td>
</tr>
<tr>
<td>46</td><td>I Falchi Bianchi</td>
<td>Done</td>
<td>2</td>
<td>4</td>
<td>6.145</td>
<td>322</td>
</tr>
<tr>
<td>47</td><td>Bruderschaft Der Verdammnis</td>
<td>Forfeit</td>
<td>1</td>
<td>3</td>
<td>3.323</td>
<td>16</td>
</tr>
<tr>
<td>48</td><td>Soniq Warlords</td>
<td>Forfeit</td>
<td>1</td>
<td>2</td>
<td>3.266</td>
<td>270</td>
</tr>
<tr>
<td>49</td><td>Im Not A Kitty</td>
<td>Forfeit</td>
<td>1</td>
<td>4</td>
<td>3.186</td>
<td>630</td>
</tr>
<tr>
<td>50</td><td>The Knights Templar</td>
<td>Done</td>
<td>0</td>
<td>5</td>
<td>3.103</td>
<td>5164</td>
</tr>
<tr>
<td>51</td><td>Habbo Club</td>
<td>Done</td>
<td>1</td>
<td>5</td>
<td>3.086</td>
<td>477</td>
</tr>
<tr>
<td>52</td><td>Darkside Warriors</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.701</td>
<td>1109</td>
</tr>
<tr>
<td>53</td><td>Seppo Hovi Action Team</td>
<td>Forfeit</td>
<td>0</td>
<td>0</td>
<td>0.403</td>
<td>32</td>
</tr>
<tr>
<td>54</td><td>Legend Will Never Die</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0.377</td>
<td>323</td>
</tr>
<tr>
<td>55</td><td>Hawk Smash</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0.278</td>
<td>43</td>
</tr>
<tr>
<td>56</td><td>Fortis Primani</td>
<td>Forfeit</td>
<td>0</td>
<td>3</td>
<td>0.028</td>
<td>5206</td>
</tr>